
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        ACA-202 
      </h1>
      




     

      <h2 class="govuk-heading-m">Prototypes for this ticket</h2>

      <ul class="govuk-list govuk-list--bullet">

        <li>
          <a href="confirmation-no-docs.html">confirmation page – no docs needed</a> – removed change of circs link from current content (Sprint 6)
        </li>

        <li>
          <a href="confirmation-docs.html">confirmation page – docs needed example</a> – removed change of circs link from current content (Sprint 6)
        </li>


      </ul>
    </div>
</div>

{% endblock %}
