{% extends 'layout.html' %}

{% block pageTitle %}
  Eligibility – hours caring, age and country – Apply for Carer's Allowance – GOV.UK
{% endblock %}


{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="allowance-approve">

        <h1 class="govuk-heading-l">
            Eligibility: caring hours, age and country
        </h1>

        {{ govukRadios({
          idPrefix: 'elig--35-hours',
          name: 'elig--35-hours',
          fieldset: {
            legend: {
              text: 'Do you spend 35 hours or more each week providing care for the person receiving this benefit?',
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--s'
            }
          },
          hint: {
            html: hintHTML
          },
          items: [
            {
              text: 'Yes',
              value: 'Yes',
              checked: true if data['elig--35-hours'] == 'Yes'
            },
            {
              text: 'No',
              value: 'No',
              checked: true if data['elig--35-hours'] == 'No'
            }
          ]
        }) }}

        {{ govukRadios ({
          idPrefix: 'elig--over-16-years',
          name: 'elig--over-16-years',
          fieldset: {
            legend: {
              text: 'Are you aged 16 or over?',
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--s'
            }
          },
          items: [
            {
              text: 'Yes',
              value: 'Yes',
              checked: true if data['elig--over-16-years'] == 'Yes'
            },
            {
              text: 'No',
              value: 'No',
              checked: true if data['elig--over-16-years'] == 'No'
            }
          ]
        }) }}

        {{ govukRadios ({
          idPrefix: 'elig--country',
          name: 'elig--country',
          fieldset: {
            legend: {
              text: 'Which country do you live in?',
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--s'
            }
          },
          items: [
            {
              text: 'England, Scotland or Wales',
              value: 'England, Scotland or Wales',
              checked: true if data['elig--country'] == 'England, Scotland or Wales'
            },
            {
              text: 'Northern Ireland',
              value: 'Northern Ireland',
              checked: true if data['elig--country'] == 'Northern Ireland'
            },
            {
              text: 'Another country',
              value: 'Another country',
              checked: true if data['elig--country'] == 'Another country'
            }
          ]
        }) }}

        {{ govukButton({
          html: 'Continue'
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
