{% extends 'layout.html' %}

{% block pageTitle %}
  Identity failed
{% endblock %}

{% block beforeContent %}

  {{ super() }}

  {{ govukBackLink ({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="education-course-details">

      
<h1 class="govuk-heading-l">We have been unable to verify your identity

</h1>
<p>If you think you may have entered your details incorrectly, you can start again.
</p>

   {{ govukButton ({
          html: 'Start again'
        }) }}

<div class="govuk-heading-m">
      Continue applying without verifying your identity
</div>
<p>
      You can <a href="">continue your Carer's Allowance application</a> without verifying your identity online. It will not affect your claim, as we can verify your identity manually after you send your application.
 </p>


     

      </form>
    </div>
  </div>

{% endblock %}
