{% extends 'layout.html' %}

{% block pageTitle %}
  Do you have any care costs because of this work?

{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="self-employment-expenses">
        {{ govukRadios({
          name: 'haveCareCostsSE',
          value: data.haveCareCostsSE,
          fieldset: {
            legend: {
              text: "Do you have any care costs because of this work?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Don't include any information about your pension, if you get one."
          },
          items: [{
            text: "Yes",
            value: 'Yes~self-employment-expenses-details',
            checked: true if data.haveCareCostsSE === "Yes"
          }, {
            text: "No",
            value: 'No~employment-additional-information',
            checked: true if data.haveCareCostsSE === "No"
          }]
        }) }}

        {{ govukButton({
          html: 'Continue'
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
