{% extends 'layout.html' %}
{% block pageTitle %}
    We need to know about any breaks in care
{% endblock %}
{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form
                method="post">
                <!-- To redirect to a different page based on radio selected use: ~/poc/E2E/breaks/dates2-html2/PAGE_TO_GO_TO -->
                {{ govukRadios({
                    idPrefix: "employment",
                    name: "employment",
                    fieldset: {
                    legend: {
                        text: "Did you have any care costs because of your job at Natwest?",
                        isPageHeading: false,
                        classes: "govuk-fieldset__legend--l"
                    }
                    },
                    hint: {
                         text: "This includes childcare costs as well as costs for looking after the person you provide care for. Tell us here if you are claiming Tax-Free Childcare."
                         },
                    items: [
                        {
                            value: "Yes~/apply/ACA-1405/employer-carecostsdetails",
                            text: "Yes"
                        },
                        {
                            value: "No~/apply/ACA-1405/employment-summary",
                            text: "No"
                        }
                    ]
                }) }}
                {{ govukButton ({
                    html: 'Continue',
                    classes: 'govuk-button'
                }) }}
            </form>
        </div>
    </div>
{% endblock %}