{% extends 'layout.html' %}

{% block pageTitle %}
    About the person you provide care for
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="../index">

                <h1 class="govuk-heading-l">About the person you provide care for</h1>

                {{ govukRadios ({
                    idPrefix: 'dp-care-time-bool',
                    name: 'dp-care-time-bool',
                    fieldset: {
                        legend: {
                            text: 'Do you spend 35 hours or more each week providing care for ' + data['dummy-dp-name'] + '?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--s'
                        }
                    },
                    hint: {
                        text: 'This can be any care you provide in person, including helping with things like washing, cooking, household tasks, shopping, or travel.'
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if data['dp-care-time-bool'] == 'Yes'
                        },
                        {
                            text: 'No',
                            value: 'No',
                            checked: true if data['dp-care-time-bool'] == 'No'
                        }
                    ]
                }) }}

                {% set otherDetailsHTML %}

                    {{ govukCharacterCount ({
                        id: 'dp-care-time-other-details',
                        name: 'dp-care-time-other-details',
                        value: data['dp-care-time-other-details'],
                        maxlength: '300',
                        label: {
                            text: 'Tell us their name, address, date of birth and National Insurance number',
                            classes: 'app-bold-label'
                        }
                    }) }}

                {% endset %}

                {% set ucHTML %}

                    {{ govukRadios ({
                        idPrefix: 'dp-care-time-other-uc-bool',
                        name: 'dp-care-time-other-uc-bool',
                        fieldset: {
                            legend: {
                                text: 'Are they getting the carer element of Universal Credit for  ' + data['dummy-dp-name'] + '?',
                                isPageHeading: true,
                                classes: 'govuk-fieldset__legend--s'
                            }
                        },
                        hint: {
                            html: '<p class="govuk-hint">This can be any care you provide in person, including helping with things like washing, cooking, household tasks, shopping, or travel.</p><p class="govuk-hint">During the coronavirus (COVID-19) outbreak this includes care you provide remotely, for example, giving emotional support over the phone or online.</p>'
                        },
                        items: [
                            {
                                text: 'Yes',
                                value: 'Yes',
                                checked: true if data['dp-care-time-other-uc-bool'] == 'Yes',
                                conditional: {
                                    html: otherDetailsHTML
                                }
                            },
                            {
                                text: 'No',
                                value: 'No',
                                checked: true if data['dp-care-time-other-uc-bool'] == 'No'
                            }
                        ]
                    }) }}

                {% endset %}

                {{ govukRadios ({
                    idPrefix: 'dp-care-time-other-bool',
                    name: 'dp-care-time-other-bool',
                    fieldset: {
                        legend: {
                            text: 'Does anyone else spend 35 hours or more each week providing care for ' + data['dummy-dp-name'] + '?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--s'
                        }
                    },
                    hint: {
                        text: 'This can be any care you provide in person, including helping with things like washing, cooking, household tasks, shopping, or travel.'
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if data['dp-care-time-other-bool'] == 'Yes',
                            conditional: {
                                html: ucHTML
                            }
                        },
                        {
                            text: 'No',
                            value: 'No',
                            checked: true if data['dp-care-time-other-bool'] == 'No'
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}