{% extends 'layout.html' %}

{% block pageTitle %}
    Is your partner the person you care for?
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="index">

                {{ govukRadios({
                    idPrefix: 'partner--care',
                    name: 'partner--care',
                    fieldset: {
                        legend: {
                            text: 'Is ' + ( data['partner--name'] | default('your partner') ) + ' the person you care for?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--xl'
                        }
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'yes'
                        },
                        {
                            text: 'No',
                            value: 'no'
                        }
                    ]
                }) }}

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}