
{% extends "layout.html" %}

{% block pageTitle %}
  ACA-728
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        ACA-728 
      </h1>

      <h2 class="govuk-heading-m">Prototypes for this ticket</h2>

      <ul class="govuk-list govuk-list--bullet">

        <li>
          <a href="/letters/scottish-devo/decision-a-c/letter.html">Decision letter (allow) – qualifying benefits listed</a>
        </li>

        <li>
          <a href="/letters/scottish-devo/decision-a-v/letter.html">Decision letter (allow) – description with QB list removed</a>
        </li>

        <li>
          <a href="/letters/scottish-devo/decision-d-c/letter.html">Decision letter (disallow) – qualifying benefits listed</a>
        </li>
        <li>
          <a href="/letters/scottish-devo/decision-d-v/letter.html">Decision letter (disallow) – descriptions with QB list removed</a>
        </li>
        <li>
          <a href="govuk-eligibility">GOV.UK Carer‘s Allowance eligibility page</a>
        </li>
        <li>
          <a href="../ACA-906/qb.html">QB question in CADS</a> – part of ACA-906
        </li>


      </ul>
    </div>
</div>

{% endblock %}
