{% extends 'layout.html' %}

{% block pageTitle %}
    Claim date
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                <h1 class="govuk-heading-xl">When do you want Carer's Allowance to start?</h1>

                <p>
                    The person you care for must get their disability benefit before your claim can start.
                </p>

                <p>
                    You can backdate your claim for up to 3 months, as long as you provided care for at least 35 hours a week. 
                </p>           

                 {% set detailsContentHTML %}
                    <p>If the person you care for was awarded their disability benefit in the last 3 months with a backdated start date of more than 3 months ago, you can claim from:</p>
                    <ul class="govuk-list govuk-list--bullet">
                    <li>their disability benefit start date – if you were proving care for at least 35 hours a week from that date</li>
                    <li>the date you started to provide care – if this was after their benefit start date</li>
                    </ul>
                {% endset %}    
                
                {{ govukDetails({
                    summaryText: 'Claims that can be backdated for more than 3 months',
                    html: detailsContentHTML
                }) }}

                <p>
                    Your claim date cannot be more than 3 months in the future.
                </p>

               

                {{ govukDateInput ({
                    id: 'claim-date',
                    name: 'claim-date',
                    fieldset: {
                        legend: {
                            text: 'Claim date',
                            isPageHeading: false,
                            classes: 'govuk-fieldset__legend--s'
                        }
                    },
                    hint: {
                        text: 'This is the date you want your claim to start, for example 31 7 2020.'
                    }
                }) }}

                {% set careStartDateHTML %}

                    {{ govukDateInput ({
                        id: 'care-start-date',
                        name: 'care-start-date',
                        fieldset: {
                            legend: {
                                text: 'When did you start providing care?',
                                isPageHeading: false,
                                classes: 'govuk-fieldset__legend--s app-normal-label'
                            }
                        },
                        hint: {
                            text: 'For example, 23 7 2019'
                        }
                    }) }}

                {% endset %}

                {{ govukRadios ({
                    idPrefix: 'care-early-start',
                    name: 'care-early-start',
                    fieldset: {
                        legend: {
                            text: 'Were you providing care for the person for more than 35 hours a week before this date?',
                            isPageHeading: false,
                            classes: 'govuk-fieldset__legend--s'
                        }
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'yes',
                            conditional : {
                                html: careStartDateHTML
                            }
                        },
                        {
                            text: 'No',
                            value: 'no'
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}