{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Capture complete</h1>
        <div class="govuk-panel__body">
          Tell Us Once reference number<br><strong>F4DD11378E88</strong>
        </div>
      </div>

      <p>
        You will need this to complete Tell Us Once.
      </p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>You must complete Tell Us Once by 28 March 2022.</p>
      
      <p>If Tell Us Once is not completed by 28 March 2022, we will delete the death registration details you have given us.</p>

      <h2 class="govuk-heading-m">How to complete Tell Us Once</h2>

      <p>You can complete Tell Us Once by telephone, free of charge. </p> 

      <ul class="govuk-list">
        <li>Telephone: 0800 085 7308</li>
        <li>Textphone: 0800 141 2218</li>
        <li>Monday to Friday, 8am to 5pm</li>
      </ul>

      <p>You can also complete Tell Us Once online at www.gov.uk/tell-us-once</p>

      <h2 class="govuk-heading-m">What you will need</h2>

      <p>You will need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your Tell Us Once reference number</li>
        <li>the name and date of birth of the person who has died</li>
        <li>the name and address of the hospital care home or hospice if they died there</li>
        <li>details of the surviving spouse</li>
        <li>National Insurance nubmber or date of birth of the surviving spouse</li>
        <li>details of the next of kin (closest relative by blood or marriage)</li>
        <li>details of the person or company dealing with the estate (property, belongings and money)</li>
      </ul>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          You must have consent from the next of kin or the person or company dealing with the estate to give their details.
        </strong>
      </div>

      <p>Depending on who you want us to tell, you may need the following details of the person who has died:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>passport number</li>
        <li>town of birth</li>
        <li>National Insurance number</li>
        <li>driving licence number </li>
        <li>vehicle registrations numbers of any vehicles they owned</li>
        <li>name of their local council and services they were getting, such as Housing Benefit or Council Tax reduction</li>
        <li>vehicle registrations numbers of any vehicles they owned</li>
      </ul>

    <div class="govuk-button-group">
  <button class="govuk-button" data-module="govuk-button">
    Translate to Welsh
  </button>

 

  <a class="govuk-link" href="#">Print</a>
</div>

    </div>
  </div>

{% endblock %}
