{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Registration details</h1>

      <form class="form" action="persons-details" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}


        <div class="govuk-form-group">
          <label class="govuk-label" for="registration-number">
            Death registration number
          </label>
          <div id="account-number-hint" class="govuk-hint">
            This is a 9-digit number and starts with the number 5. For example, 587456778
          </div>
          <input class="govuk-input" id="registration-number" name="registration-number" type="text" spellcheck="false" autocomplete="name">
        </div>
        
          <div class="govuk-form-group">
            <label class="govuk-label" for="registration-number">
              Where was the death registered?
            </label>
            <div id="account-number-hint" class="govuk-hint">
              For example, Newcastle Upon Tyne
            </div>
            <input class="govuk-input" id="registration-number" name="registration-number" type="text" spellcheck="false" autocomplete="name">
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend">
                When was the death registered?
              </legend>
              <div id="passport-issued-hint" class="govuk-hint">
                For example, 15 8 2021
              </div>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
              </div>
            </div>
            <br>


      <form class="form" action="/url/of/next/page" method="post">

        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </div>
    </div>

     <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Report a problem
          </span>
        </summary>
        <div class="govuk-details__text">
          <h3 class="govuk-heading-s">Telephone</h3>

          <p>Telephone: 0191 218 3184</p>
          <p>Monday to Friday, 8am to 6pm</p>
    
          <h3 class="govuk-heading-s">Email</h3>
    
          <p><a class="govuk-link" href="#">tell-us-once.servicedesk@dwp.gov.uk</a></p>
    
        </div>
        </div>
      </details>
      </form>

    </div>
  </div>

{% endblock %}
