{% extends 'layout.html' %}
{% block pageTitle %}
    We need to know about any breaks in care
{% endblock %}
{% block beforeContent %} 
    {{ super() }}
    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" action="check-answers3">
           

                 <h1 class="govuk-heading-l">This will remove all self-employment information you entered</h1>
           
                <table class="govuk-table">
                   
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell"><b>Type</td>
                            <td class="govuk-table__cell">Joiner</td>
                        </tr>
                    </tbody>

                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell"><b>Ended</td>
                            <td class="govuk-table__cell">23 July 2021</td>
                        </tr>
                    </tbody>

                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell"><b>Started</td>
                            <td class="govuk-table__cell">14 May 2020</td>
                        </tr>
                    </tbody>

                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell"><b>Trading year</td>
                            <td class="govuk-table__cell">2020</td>
                        </tr>
                    </tbody>
                </table>

                {{ govukButton ({
                    html: 'Remove',
                    classes: 'govuk-button--warning'
                }) }}

                <p><a href="check-answers" class="govuk-link">Cancel and go back</a>
            </form>
        </div>
</div>
{% endblock %}