
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        ACA-180 
        <span class="govuk-caption-xl">22 April to 5 May 2020</span>
      </h1>
      




     

      <h2 class="govuk-heading-m">Prototypes for this ticket</h2>

      <ul class="govuk-list govuk-list--bullet">

        <li>
          <a href="type-of-change.html">end claim journey (including DP deceased)</a> full journey
        </li>
        <li>
          <a href="type-of-change.html">type of change radio content updated</a> page
        </li>
        
        <li>
          <a href="end-claim-reason.html">reason for ending claim radios</a> page
        </li>

        <li>
          <a href="end-claim-date.html">Claim end date</a> page
        </li>

        <li>
          <a href="person-you-care-for-has-died.html">GB deceased DP outcome</a> page
        </li>
        <li>
          <a href="ni-person-you-care-for-has-died.html">NI deceased DP outcome</a> page
        </li>

      </ul>
    </div>
</div>

{% endblock %}
