{% extends 'layout.html' %}

{% set incomeIndex = data['selectedIncome'] | uuid %}
{% set incomeLoc = 'incomeStore[' + incomeIndex + ']' %}
{% set income = data.incomeStore[incomeIndex] %}

{% block pageTitle %}
    Do you still get these earnings?
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="other-router">

                {% set endDateHTML %}

                    {{ govukDateInput ({
                        id: 'income--other-end-date',
                        namePrefix: incomeLoc + '[end-date',
                        fieldset: {
                            legend: {
                                text: 'When did you stop getting these earnings?',
                                isPageHeading: true,
                                classes: 'govuk-fieldset__legend--s'
                            }
                        },
                        items: [
                            {
                                name: 'day]',
                                classes: 'govuk-input--width-2',
                                value: income['end-date-day']
                            },
                            {
                                name: 'month]',
                                classes: 'govuk-input--width-2',
                                value: income['end-date-month']
                            },
                            {
                                name: 'year]',
                                classes: 'govuk-input--width-4',
                                value: income['end-date-year']
                            }
                        ]
                    }) }}

                {% endset %}

                {{ govukRadios ({
                    idPrefix: 'income--other-ongoing',
                    name: incomeLoc + '[ongoing]',
                    fieldset: {
                        legend: {
                            text: 'Do you still get these earnings?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if income['ongoing'] == 'Yes'
                        },
                        {
                            text: 'No',
                            value: 'No',
                            conditional: {
                                html: endDateHTML
                            },
                            checked: true if income['ongoing'] == 'No'
                        }
                    ]
                }) }}

                <input type="hidden" name="selectedIncome" value="{{ incomeIndex }}">

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}