{% extends 'layout.html' %}
{% set carerName = 'Alice Walsh' %}
{% set dpName = 'Emily Marsden' %}
{% set claimDate = '1 February 2021' %}
{% block pageTitle %}
Do you have any of the following documents or information?
{% endblock %}
{% block beforeContent %} 
    {{ super() }}
    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" action="claim-date">


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Do you have any of the following documents or information?

      </h1>
    </legend>
    <div id="nationality-hint" class="govuk-hint">
      Select all that apply.
    </div>

    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
        <label class="govuk-label govuk-checkboxes__label" for="nationality">
          A valid UK passport
        </label>
        <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
          Your passport must not have expired.
        </div>
      </div>

       <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
        <label class="govuk-label govuk-checkboxes__label" for="nationality">
          A recent payslip or P60
        </label>
        <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
          You will need a payslip dated after [???] or your most recent P60.
        </div>
      </div>

       <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
        <label class="govuk-label govuk-checkboxes__label" for="nationality">
          Credit reference information
        </label>
        <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
          For example, the year you took out a credit card or mobile phone contract.
        </div>
      </div>

       <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
        <label class="govuk-label govuk-checkboxes__label" for="nationality">
          A recent Self Assessment return
        </label>
       
      </div>

       <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
        <label class="govuk-label govuk-checkboxes__label" for="nationality">
          Tax credit claim information
        </label>
        <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
          Including your Voice ID.
        </div>
      </div>

      <div class="govuk-body">or</div>

        <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="countries" name="countries" type="checkbox" value="france">
                <label class="govuk-label govuk-checkboxes__label" for="countries">
                No, I do not have access to any of this information
                </label>
         </div>

    </fieldset>
</div>
<br>
                {{ govukButton ({
                    html: 'Continue',
                    classes: 'govuk-button'
                }) }}
            </form>
        </div>



         
               
            </form>
        </div>
</div>
{% endblock %}