{% extends "layout.html" %} {% block pageTitle %} ACA-651 {% endblock %} {%
block beforeContent %} {{ super() }} {{ govukBackLink({ text: 'Back', href:
'javascript:history.back()' }) }} {% endblock %} {% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">ACA-651</h1>

		<h2 class="govuk-heading-m">Prototypes for this ticket</h2>

		<p>Northern Ireland CA517 – new claim letter to DP for Notify automation. </p>
		<p>3 variants of rates section sub-heading for UR round 1:</p>

		<ul class="govuk-list govuk-list--bullet">
			
            <li>
				<a href="ca517-variant1/letter.html">variant 1 – If you get rate relief</a>
			</li>
            
            <li>
				<a href="ca517-variant2/letter.html">variant 2 – If you pay reduced rates</a>
			</li>

			<li>
				<a href="ca517-variant3/letter.html">variant 3 – If you get help with rates as a homeowner</a>
			</li>
			
		</ul>
	</div>
</div>

{% endblock %}
