.prototype-home-top {
	background-color: #005ea5;
	box-sizing: border-box;
	color: #fff;
	width: 100%;
	padding-top: govuk-spacing(6);
	padding-bottom: govuk-spacing(6);

	* {
		color: white !important;
	}
}

.prototype-remove-blue-border-from-header {
	.govuk-header__container,
	.govuk-header {
		border-bottom: none;
	}
	.govuk-header__container {
		padding-bottom: govuk-spacing(2);
	}
}

@media (min-width: 641px) {
	.prototype-version-card {
		padding-bottom: govuk-spacing(6);
		padding-left: govuk-spacing(6);
		padding-right: govuk-spacing(6);
		padding-top: govuk-spacing(7);
	}
}

.prototype-version-card {
	border: 1px solid $govuk-border-colour;
	margin-bottom: govuk-spacing(3);
	margin-top: govuk-spacing(3);
	overflow: hidden;
	position: relative;
}

.prototype-full-height {
	min-height: 100vh;
}

.prototype-email-table {
	@include govuk-font($size: 19);
	@include govuk-text-colour;
	.prototype-email-table-row {
		@include govuk-responsive-padding(4, 'top');
		@include govuk-responsive-padding(2, 'right');
		@include govuk-responsive-padding(4, 'bottom');
		@include govuk-responsive-padding(2, 'left');
		border: $govuk-border-colour 1px solid;
		border-bottom: none;
		&:last-of-type {
			border-bottom: $govuk-border-colour 1px solid;
		}
	}
	.prototype-email-table-descriptor {
		color: $govuk-secondary-text-colour;
		display: inline-block;
		width: 7em;
		text-align: right;
		@include govuk-responsive-margin(2, 'right');
	}
	.prototype-email-content {
		@include govuk-responsive-margin(4);
		@include govuk-responsive-padding(2, 'top');
		font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
			sans-serif, Apple Color Emoji, Segoe UI Emoji !important;
	}
	.govuk-header__container {
		background-color: black;
		@include govuk-responsive-padding(4, 'left');
		@include govuk-responsive-padding(4, 'right');
		.govuk-header__link {
			color: white;
		}
	}
}
