
{% extends "layout.html" %}

{% block pageTitle %}
  Prototype: Report a change to Carer's Allowance
{% endblock %}

{% block header %}

  <div class="prototype-remove-blue-border-from-header">

    {{ super() }}

    <div class="prototype-home-top">

      <div class="govuk-width-container">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Carer’s Allowance</h1>

            <h1 class="govuk-heading-l govuk-!-font-weight-regular  govuk-!-margin-bottom-2">'Changes' prototypes</h1>

          </div>

        </div>
      
      </div>

    </div>
  
  </div>

{% endblock %}

{% block content %}

{{ govukBackLink({
    text: 'Back to prototype home',
    href: '/'
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="prototype-version-card">
        <h3 class="govuk-heading-m">
          <a href="changes/ACA-180/index.html" class="govuk-link--no-visited-state">
            ACA-180
          </a>
        </h3>
        {{ govukTag({
            text: 'Experimental',
            classes: 'govuk-tag--red govuk-!-margin-bottom-3'
        }) }}
        <p>
          Updated end claim journey, including DP died.
        </p>
        <h4 class="govuk-heading-s">Research notes</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Need identified by UR</li>
          <li>No research has been carried out on the proposed designs as of 21 May 2020</li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
