{% extends 'layout.html' %}

{% set incomeIndex = data['selectedIncome'] | uuid %}
{% set incomeLoc = 'incomeStore[' + incomeIndex + ']' %}
{% set income = data.incomeStore[incomeIndex] %}

{% block pageTitle %}
    What type of organisation pays you Fostering Allowance?
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="other-frequency" method="post">

                {% set orgNameHTML %}
                
                    {{ govukInput ({
                        id: 'income--fostering-org-name',
                        name: incomeLoc + '[fostering-org-name]',
                        value: income['fostering-org-name'] if data['fostering-org-name'] else '',
                        classes: 'govuk-input--width-20',
                        label: {
                            text: 'Organisation name',
                            classes: 'govuk-input--width-20'
                        }
                    }) }}

                {% endset %}

                {{ govukRadios ({
                    idPrefix: 'income--fostering-org',
                    name: incomeLoc + '[fostering-org]',
                    fieldset: {
                        legend: {
                            text: 'What type of organisation pays you for fostering?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    items: [
                        {
                            text: 'A local authority',
                            value: 'A local authority',
                            checked: true if income['fostering-org'] == 'A local authority'
                        },
                        {
                            text: 'A private fostering agency',
                            value: 'A private fostering agency',
                            checked: true if income['fostering-org'] == 'A private fostering agency'
                        },
                        {
                            text: 'A different organisation',
                            value: 'A different organisation',
                            checked: true if income['fostering-org'] == 'A different organisation',
                            conditional: {
                                html: orgNameHTML
                            }
                        }
                    ]
                }) }}

                <input type="hidden" name="selectedIncome" value="{{ incomeIndex }}">

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}