{% extends 'layout.html' %}

{% block pageTitle %}
  What is your address? – Apply for Carer’s Allowance – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="select-address">

                {% if data.error %}
                    {{ govukErrorSummary({
                        'titleText': 'There is a problem',
                        'errorList': [
                            {
                                'text': 'We could not find this postcode, enter your address manually or try again',
                                'href': '#applicant-find-postcode'
                            }
                        ]
                    }) }}
                {% endif %}

                <h1 class="govuk-heading-l">What is your address?</h1>

                <p>
                    We will use this to send you any letters about your Carer’s Allowance claim.
                </p>

                {{ govukInput({
                    id: 'applicant-find-postcode',
                    name: 'applicant-find-postcode',
                    value: data['applicant-find-postcode'] if data['applicant-find-postcode'] else '',
                    classes: 'govuk-input--width-10',
                    label: {
                        text: 'Postcode',
                        classes: 'govuk-input--width-10 app-bold-label'
                    },
                    errorMessage: {
                        text: 'We could not find this postcode, enter your address manually or try again'
                    } if data.error
                }) }}

                <p>
                    <a href="manual-address">Enter your address manually</a>
                </p>

                {{ govukButton({
                    html: 'Find address'
                }) }}

            </form>

        </div>

</div>

{% endblock %}