{% extends 'layout.html' %}

{% block pageTitle %}
    What is your telephone number?
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="email">

                <h1 class="govuk-heading-xl">What is your telephone number?</h1>

                <p>We will use this if we need to contact you about your claim.</p>

                {{ govukButton({
                    html: 'Save and continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}