{% extends 'layout.html' %}

{% block pageTitle %}
    Have you had any direct payments for caring for people since {{ data | getClaimDate }}?
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="direct-ongoing">

                {{ govukRadios ({
                    idPrefix: 'income--direct-bool',
                    name: 'income--direct-bool',
                    fieldset: {
                        legend: {
                            text: 'Have you had any direct payments for caring for people since ' + data | getClaimDate + '?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        text: 'Direct payments usually come from a local council or trust.'
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if data['income--direct-bool'] == 'Yes'
                        },
                        {
                            text: 'No',
                            value: 'No~list',
                            checked: true if data['income--direct-bool'] == 'No'
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}