{% extends 'layout.html' %}

{% block pageTitle %}
    Did you get any money from someone boarding in your home since 23 June 2020?
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="rental-ongoing">

                {{ govukRadios ({
                    idPrefix: 'income--rental-bool',
                    name: 'income--rental-bool',
                    fieldset: {
                        legend: {
                            text: 'Did you get any money from someone boarding in your home since 23 June 2020?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if data['income--rental-bool'] == 'Yes'
                        },
                        {
                            text: 'No',
                            value: 'No~direct',
                            checked: true if data['income--rental-bool'] == 'No'
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}