{% extends 'layout.html' %}
{% set carerName = 'Alice Walsh' %}
{% set dpName = 'Emily Marsden' %}
{% set claimDate = '1 February 2021' %}
{% block pageTitle %}
    During the time in respite care, did you continue caring for John Smith for at least 35 hours a week?

{% endblock %}
{% block beforeContent %} 
    {{ super() }}
    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" action="">
                <h1 class="govuk-heading-l">During this time in a care home
                </h1>
            

        <h2 class="govuk-heading-s">Did John Smith receive care from a medical professional?</h2>
                   

                <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="medical" name="medical" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="medical">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="medical-no" name="medical" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="medical-no">
          No
        </label>
      </div>
    
    </div>
<br><br>
                  <h2 class="govuk-heading-s">Did you continue to provide care for John Smith for at least 35 hours a week?</h2>

    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="35hours" name="35hours" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="35hours">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="35hours-no" name="35hours" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="no-2">
          No
        </label>
      </div>
  
    </div>
<br>

                {{ govukButton ({
                    html: 'Continue',
                    classes: 'govuk-button'
                }) }}
            </form>
        </div>
</div>
{% endblock %}