{% extends 'layout.html' %}
{% block pageTitle %}
  Breaks in care summary
{% endblock %}
{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink ({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            {# {{ data | dump }} #}
            <h1 class="govuk-heading-l">Breaks in care summary</h1>
            <h1 class="govuk-hint">Check the breaks in care information you have entered. If you need to, you can add
                another break in care.</h1>
                <!-- We can use this for debugging (just uncomment it) -->
                {# {% for id, break in data.breaksStore %}
                      <p>{{ id }}</p>
                      <p>{{ break | dump }}</p>
                {% endfor %} #}

                <table class="govuk-table">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Where</th>
                        <th scope="col" class="govuk-table__header">Who</th>
                        <th scope="col" class="govuk-table__header">Start date</th>
                        <th scope="col" class="govuk-table__header">End date</th>
                        <th scope="col" class="govuk-table__header"></th>

                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <!-- We get the ID of the break (so we can pre fill the data if we click edit) and the break itself which contains all the info about it -->
                      <!-- For each break that's been added, we need a new row -->
                      {% set breakCount = 0 %}
                      {% for id, break in data.breaksStore %}
                        {% if break != '' %}
                          <!-- Increment breakCount by 1 -->
                          {% set breakCount = breakCount + 1 %}
                          <tr class="govuk-table__row">
                             
                             
                             
                             <td class="govuk-table__cell">
                             Hospital
                             </td>

                             
                             
                             
                             
                             
                             
                              <td class="govuk-table__cell">
                                <!-- If you were in hospital pull the data for you -->
                                {% if break['hosp-ended'] == "yes" %}
                                  {{ break['hosp-ended-day'] }} {{ break['hosp-ended-month'] | month }} {{ break['hosp-ended-year'] }}
                                {% else %} <!-- If not, pull the no details -->
                                 <!-- don't show anything --> {{ break['js-hospital-admitted-day'] }} {{ break['js-hospital-admitted-month'] | month }} {{ break['js-hospital-admitted-year'] }}
                                {% endif %}
                              </td>
                              <!-- If the break has not ended show message -->
                              {% if break['you-hospital-ended'] == "no" or not break['js-hospital-ended-day'] %}
                                <td class="govuk-table__cell">
                                  Not restarted care
                                </td>
                              {% else %}
                                <td class="govuk-table__cell">
                                  <!-- If you were in hospital pull the data for you -->
                                  {% if break['who-was-in-hospital'] == "you" %}
                                    {{ break['you-hospital-ended-day'] }} {{ break['you-hospital-ended-month'] | month }} {{ break['you-hospital-ended-year'] }}
                                  {% else %} <!-- If not, pull the john smith details -->
                                    {{ break['js-hospital-ended-day'] }} {{ break['js-hospital-ended-month'] | month }} {{ break['js-hospital-ended-year'] }}
                                  {% endif %}
                                </td>
                              {% endif%}
                            <td class="govuk-table__cell">
                              {% if break['breakType'] === 'hospital' %}
                                Hospital
                              {% elif break['breakType'] === 'respite' %}
                                Respite
                              {% elif break['breakType'] === 'other' %}
                                Other
                              {% endif %}
                            </td>
                            <td class="govuk-table__cell">
                              <a href="{{ break['breakType'] }}?selectedBreak={{ id }}">Change</a>
                              <a href="delete?selectedBreak={{ id }}" class="govuk-!-margin-left-2">Remove</a>
                            </td>
                          </tr>
                        {% endif %}
                      {% endfor %}
                      {# <!-- If there are no breaks, redirect back to the 'any' page -->
                      {% if breakCount == 0 %}
                        {{ 'first' | redirect | safe }}
                      {% endif %} #}
                    </tbody>
                  </table>
                  <br>
                  <a href="any?selectedBreak=" class="govuk-button govuk-button--secondary">Add another break in care</a>
                  <br>
                  <a href="education" class="govuk-button">Continue</a>
        </form>
    </div>
</div>
{% endblock %}