{% extends 'layout.html' %}

{% set breakIndex = data['selectedBreak'] | uuid %}
{% set breakLoc = 'breaksStore[' + breakIndex + ']' %}
{% set break = data.breaksStore[breakIndex] %}

{% set titleText = 'Tell us about the dates for this break in care' %}

{% block pageTitle %}
    {{ titleText }}
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="medical">

                <h1 class="govuk-heading-l">
                    {{ titleText }}
                </h1>

                {{ govukDateInput ({
                    id: 'break--start-date',
                    namePrefix: breakLoc + '[start-date',
                    fieldset: {
                        legend: {
                            text: 'When did you stop providing care?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--s'
                        }
                    },
                    items: [
                        {
                            name: 'day]',
                            classes: 'govuk-input--width-2',
                            value: break['start-date-day']
                        },
                        {
                            name: 'month]',
                            classes: 'govuk-input--width-2',
                            value: break['start-date-month']
                        },
                        {
                            name: 'year]',
                            classes: 'govuk-input--width-4',
                            value: break['start-date-year']
                        }
                    ]
                }) }}

                {% set endDateHTML %}

                    {{ govukDateInput ({
                        id: 'break--end-date',
                        namePrefix: breakLoc + '[end-date',
                        fieldset: {
                            legend: {
                                text: 'When did you start providing care again?',
                                isPageHeading: true,
                                classes: 'govuk-fieldset__legend--s'
                            }
                        },
                        items: [
                            {
                                name: 'day]',
                                classes: 'govuk-input--width-2',
                                value: break['end-date-day']
                            },
                            {
                                name: 'month]',
                                classes: 'govuk-input--width-2',
                                value: break['end-date-month']
                            },
                            {
                                name: 'year]',
                                classes: 'govuk-input--width-4',
                                value: break['end-date-year']
                            }
                        ]
                    }) }}

                {% endset %}

                {{ govukRadios ({
                    idPrefix: 'break--did-end',
                    name: breakLoc + '[did-end]',
                    fieldset: {
                        legend: {
                            text: 'Did you start caring for ' + data['dp--name'] | default('the person') + ' again?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--s'
                        }
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if break['did-end'] == 'Yes',
                            conditional: {
                                html: endDateHTML
                            }
                        },
                        {
                            text: 'No',
                            value: 'No',
                            checked: true if break['did-end'] == 'No'
                        }
                    ]
                }) }}

                <input type="hidden" name="selectedBreak" value="{{ breakIndex }}">

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}