{% extends 'layout.html' %}
{% set breakIndex = data['selectedBreak'] | uuid %}
{% set breakLoc = 'breaksStore[' + breakIndex + ']' %}
{% set break = data.breaksStore[breakIndex] %}
{% block pageTitle %}
Carer's Allowance prototype
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="list">
               


               
                {{ govukRadios({
                    idPrefix: 'medical',
                    name: breakLoc + '[medical]',
                    fieldset: {
                        legend: {
                        text: "Did you receive this medical care in hospital?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                        }
                    },
                  
                    items: [
                        {
                            value: "Yes",
                            text: "Yes",
                            conditional: {
                                html: yesHtml
                            }
                        },
                        {
                            value: "No",
                            text: "No",
                            checked: true if break['medical'] == 'No'
                        }
                    ]
                }) }}
               
                    <button class="govuk-button" data-module="govuk-button" href="medical">
                {# If editing a break, show save instead of continue #}
                {% if break.medical %}
                    Save
                {% else %}
                    Continue
                {% endif%}
            </button>
            <input type="hidden" name="selectedBreak" value={{ breakIndex }}>
            </form>
        </div>
</div>
{% endblock %}