{% extends 'layout.html' %}

{% block pageTitle %}
    Accessibility statement for 'changes'
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                <h1 class="govuk-heading-xl">Accessibility statement for 'changes'</h1>

                <p>Content.</p>

            </form>

        </div>

</div>

{% endblock %}