{% extends 'layout.html' %} {% block pageTitle %} Accessibility statement for
Report a change to Carer's Allowance – GOV.UK{% endblock %} {% block
beforeContent %} {{ super() }} {{ govukBackLink({ text: 'Back', href:
'javascript:history.back()' }) }} {% endblock %} {% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			<h1 class="govuk-heading-xl">
				Accessibility statement for Report a change to Carer’s Allowance
			</h1>

			<p>
				This service is part of the wider GOV.UK website. There’s a separate
				<a href="https://www.gov.uk/help/accessibility"
					>accessibility statement for the main GOV.UK website</a
				>.
			</p>

			<p>
				This page only contains information about the Report a change to Carer’s
				Allowance service, available at
				<a
					href="https://www.carersallowance.service.gov.uk/circumstances/report-changes/change-selection"
					>www.carersallowance.service.gov.uk/circumstances/report-changes/change-selection</a
				>.
			</p>

			<h2 class="govuk-heading-l">Using this service</h2>

			<p>
				This service is run by the Department for Work and Pensions (DWP). We
				want as many people as possible to be able to use this service. For
				example, that means you should be able to:
			</p>

			<ul class="govuk-list govuk-list--bullet">
				<li>change colours, contrast levels and fonts</li>
				<li>zoom in up to 300% without the text spilling off the screen</li>
				<li>
					get from the start of the service to the end using just a keyboard
				</li>
				<li>
					get from the start of the service to the end using speech recognition
					software
				</li>
				<li>
					listen to the service using a screen reader (including the most recent
					versions of JAWS, NVDA and VoiceOver)
				</li>
			</ul>

			<p>
				We’ve also made the text in the service as simple as possible to
				understand.
			</p>

			<p>
				<a href="https://mcmw.abilitynet.org.uk">AbilityNet</a> has advice on
				making your device easier to use if you have a disability.
			</p>

			<h2 class="govuk-heading-l">How accessible this service is</h2>

			<p>Some people may find parts of this service difficult to use:</p>

			<ul class="govuk-list govuk-list--bullet">
				<li>
					JAWS screen reader software may not read out all page headings in
					Internet Explorer 11 – this is a known issue with JAWS version 18 or
					above, we recommend using a different browser to avoid this problem
				</li>

				<li>
					JAWS voice packs – some JAWS voices incorrectly read the term ‘P45’ as
					‘45p’, this is a JAWS issue only affecting some voice packs
				</li>
			</ul>

			<h2 class="govuk-heading-l">
				What to do if you have difficulty using this service
			</h2>

			<p>
				If you have difficulty using this service,
				<a href="https://www.gov.uk/carers-allowance-unit"
					>contact the Carer’s Allowance Unit</a
				>.
			</p>

			<p>
				As part of providing this service, we may need to send you messages or
				documents. We’ll ask you how you want us to send messages or documents
				to you, but contact us if you need them in a different format. For
				example, large print, audio recording or braille.
			</p>

			<h2 class="govuk-heading-l">
				Reporting accessibility problems with this service
			</h2>

			<p>
				We’re always looking to improve the accessibility of this service. If you find any problems that are not listed on this page, or think we’re not meeting accessibility requirements, you can contact us by email:
				<br />
				<a
					href="mailto:care.digital@dwp.gov.uk?subject=Accessibility problems: Report a change to Carer’s Allowance"
					>care.digital@dwp.gov.uk</a
				>
			</p>

			<h2 class="govuk-heading-l">Enforcement procedure</h2>

			<p>
				The Equality and Human Rights Commission (EHRC) is responsible for
				enforcing the Public Sector Bodies (Websites and Mobile Applications)
				(No. 2) Accessibility Regulations 2018 (the ‘accessibility
				regulations’).
			</p>

			<p>
				If you’re not happy with how we respond to your complaint, contact the:
			</p>

			<ul class="govuk-list govuk-list--bullet">
				<li>
					<a href="https://www.equalityadvisoryservice.com"
						>Equality Advisory and Support Service (EASS)</a
					>
					if you live in England, Scotland or Wales
				</li>

				<li>
					<a href="https://www.equalityni.org/contactus"
						>Equality Commission for Northern Ireland (ECNI)</a
					>
					if you live in Northern Ireland
				</li>
			</ul>

			<h2 class="govuk-heading-l">
				Contacting us by phone or visiting us in person
			</h2>

			<p>
				We provide a text relay service for people who are deaf, hearing
				impaired or have a speech impediment.
			</p>

			<p>
				Our offices have audio induction loops, or if you contact us before your
				visit we can arrange a British Sign Language (BSL) interpreter to help
				you complete the service in person.
			</p>

			<p>
				<a href="https://www.gov.uk/carers-allowance-unit"
					>Find out how to contact us</a
				>
			</p>

			<h2 class="govuk-heading-l">
				Technical information about this service’s accessibility
			</h2>

			<p>
				DWP is committed to making this service accessible, in accordance with
				the Public Sector Bodies (Websites and Mobile Applications) (No. 2)
				Accessibility Regulations 2018.
			</p>

			<p>
				This service is fully compliant with the
				<a href="https://www.w3.org/TR/WCAG21"
					>Web Content Accessibility Guidelines version 2.1 AA standard</a
				>.
			</p>

			<h2 class="govuk-heading-l">How we tested this service</h2>

			<p>
				The service was last tested on 29 July 2020. It was checked for
				compliance with WCAG 2.1 AA using both automated and manual testing. The
				tests were carried out by DWP.
			</p>

			<p>This page was prepared on 23 September 2020.</p>
		</form>
	</div>
</div>

{% endblock %}
