{% extends 'layout.html' %}

{% block pageTitle %}
    You need a bank account to be paid Carer’s Allowance
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post" action="pay-frequency">

                <h1 class="govuk-heading-l">We need to pay your Carer's Allowance into a bank or
                    building society account</h1>

                <p>You will not be paid Carer's Allowance without a bank or building society account.</p> 

                    <p>
                    If you do not have access to a bank or building society account, after you apply,
                    you will need to <a href="https://www.gov.uk/carers-allowance-unit" class="govuk-link" rel="noreferrer noopener" target="_blank">contact the Carer's Allowance Unit (opens in new tab)</a>. 

                
                   
                </p>

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}