{% extends 'layout.html' %}

{% block pageTitle %}
    Declaration
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                <h1 class="govuk-heading-xl">Declaration</h1>

                <p>
                    By sending this application you agree that:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>the information you have given is complete and correct, as far as you know</li>
                    <li>the Disablity and Carers Service will check your record and the record of the person you care for on internal systems</li>
                    <li>the Disability and Carers Service may check your information with other government departments</li>
                    <li>you will pay back any money you have been overpaid if you are asked to</li>
                    <li>you will report changes that affect your claim as soon as possible using the <a href="https://www.nidirect.gov.uk/services/carers-allowance-report-changes-online" target="_blank">report a change to Carer’s Allowance online service (opens in a new window or tab)</a>, or <a href="https://www.nidirect.gov.uk/contacts/disability-and-carers-service" target="_blank">contact the Disability and Carers Service to report changes by phone or post (opens in a new window or tab)</a></li>
                </ul>
                </ul>

                {{ govukWarningText ({
                    text: 'You could be prosecuted if you deliberately give wrong or incomplete information or don’t report changes. Your Carer’s Allowance may also be stopped or reduced.',
                    iconFallbackText: 'Warning'
                }) }}

                {{ govukButton ({
                    html: 'I agree – send my application'
                }) }}

            </form>

        </div>

</div>

{% endblock %}