{% extends 'layout.html' %}

{% block pageTitle %}
    You will need to apply for Carer’s Allowance on our legacy website
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="../index">

                <h1 class="govuk-heading-l">You will need to apply for Carer’s Allowance on our legacy website</h1>

                <p>To tell us about your employment income you will need to use our legacy website.</p>

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}