{% extends 'layout_email.html' %}

{% block pageTitle %}
    Email: GB docs needed
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            {% set emailContentHTML %}

                <h2 class="govuk-heading-m">Carer’s Allowance – change of details</h2>

                <p>The Department for Work and Pensions (DWP) has received your change. You need to send us some documents to support this.</p>

                <div class="govuk-inset-text">
                 It could take longer than normal to process this change because of COVID-19 (coronavirus). If this delay means you are paid too much Carer’s Allowance, you will not have to pay it back. 
                </div>

                <h2 class="govuk-heading-m">What happens next</h2>

                <p>You must send the Carer’s Allowance Unit:</p>

                <ul class="govuk-body">
                    <li>any payslips you have</li>
                    <li>copies of your pension statements</li>
                </ul>

                <p>You can send original documents or photocopies.</p>

                <p>Include your name, address and National Insurance number with anything you send.</p>

                <p>Send your documents to:</p>

                <div class="govuk-inset-text">

                <p>Carer’s Allowance Unit<br>
                    Mail Handling Site A<br>
                    Wolverhampton<br>
                    WV98 2AB</p>

                </div>    

                <p>If we need more information about this change, we will contact you by phone or post. </p>

                <p>You do not have to do anything else, unless you need to report another change.</p>

                <h2 class="govuk-heading-m">Email contact policy</h2>

                <p>Do not reply to this email. </p>
                
                <p>Emails sent to this mailbox are not monitored and will be automatically deleted.</p>

                <p>DWP does not ask for personal or confidential information by email.</p>
 
                 <p>For office use only – appVersion/schemaVersion/transactionId</p>

            {% endset %}


            {{ prototypeEmailPreview({
                headers: [
                    {
                        key: {
                            text: 'From'
                        },
                        value: {
                            text: 'Apply and Maintain Carers Allowance'
                        }
                    },
                    {
                        key: {
                            text: 'To'
                        },
                        value: {
                            text: 'test@test.com'
                        }
                    },
                    {
                        key: {
                            text: 'Subject'
                        },
                        value: {
                            text: 'Changes to your Carer’s Allowance'
                        }
                    }
                ],
                content: {
                    html: emailContentHTML
                }
            }) }}
            

        </div>

</div>

{% endblock %}