{% extends 'layout_email.html' %}

{% block pageTitle %}
    Current email: GB no docs needed – break in care
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            {% set emailContentHTML %}

                <h2 class="govuk-heading-m">Carer’s Allowance – change of details</h2>

                <p>Your changes to your Carer’s Allowance claim have been received.</p>

                <p>You must tell us as soon as your break from caring has ended, or if a decision is made that the break is now permanent as your entitlement may be affected.</p>

                <h2 class="govuk-heading-m">Report a change in your circumstances</h2>

                <p>You must tell the Carer’s Allowance Unit if there’s a change in your circumstances, eg, if you change your job or reduce the hours you care for.</p>

                <p>Report a change online at <a href="https://www.gov.uk/carers-allowance-report-change">https://www.gov.uk/carers-allowance-report-change</a>.</p>

                <p>If you can’t report a change online you can contact the Carer’s Allowance Unit by post or telephone.</p>

                <p>Carer’s Allowance Unit<br>
                    Mail Handling Site A<br>
                    Wolverhampton<br>
                    WV98 2AB</p>

                <p>Telephone: 0800 731 0297</p>

                <p>You can’t report a change in circumstances by email.</p>

                <h2 class="govuk-heading-m">Disclaimer</h2>

                 <p>Department for Work & Pensions (DWP) won’t ask for personal or confidential information via email.</p>

                 <p>Don’t reply to this email – replies to this email address will be automatically deleted without being read.</p>

                 <p>For office use only – appVersion/schemaVersion/transactionId</p>

            {% endset %}


            {{ prototypeEmailPreview({
                headers: [
                    {
                        key: {
                            text: 'From'
                        },
                        value: {
                            text: 'Apply and Maintain Carers Allowance'
                        }
                    },
                    {
                        key: {
                            text: 'To'
                        },
                        value: {
                            text: 'test@test.com'
                        }
                    },
                    {
                        key: {
                            text: 'Subject'
                        },
                        value: {
                            text: '	Changes to your Carer’s Allowance'
                        }
                    }
                ],
                content: {
                    html: emailContentHTML


            

                }
            }) }}
            

        </div>

</div>

{% endblock %}