{% extends 'layout.html' %}

{% block pageTitle %}
Are you age 16 or over?
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="claim-date">

                {{ govukRadios({
                    idPrefix: 'are-you-carer',
                    name: 'are-you-carer',
                    fieldset: {
                        legend: {
                            text: 'Are you the carer?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },

                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes'
                        },
                        {
                            text: 'No, I am making a claim on behalf of the carer',
                            value: 'No'
                        }

                    ]
                }) }}

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}
