{% extends 'layout.html' %}

{% block pageTitle %}
    Statutory Paternity, Maternity or Adoption Pay
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

{{ 'fostering-allowance' | redirect | safe if not data['other-income'] | includes('Statutory Paternity, Maternity or Adoption Pay') }}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="fostering-allowance">

                <h1 class="govuk-heading-l">Statutory Paternity, Maternity or Adoption Pay</h1>

                {{ govukRadios ({
                    idPrefix: 'maternity-which',
                    name: 'maternity-which',
                    fieldset: {
                        legend: {
                            text: 'Which are you paid?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--s'
                        }
                    },
                    items: [
                        {
                            text: 'Maternity or Paternity Pay',
                            value: 'Maternity or Paternity Pay',
                            checked: true if data['maternity-which'] == 'Maternity or Paternity Pay'
                        },
                        {
                            text: 'Adoption Pay',
                            value: 'Adoption Pay',
                            checked: true if data['maternity-which'] == 'Adoption Pay'
                        }
                    ]
                }) }}

                {% set lastPaidHTML %}

                    {{ govukDateInput ({
                        id: 'maternity-last-paid',
                        namePrefix: 'maternity-last-paid',
                        fieldset: {
                            legend: {
                                text: 'When were you last paid?',
                                isPageHeading: true,
                                classes: 'govuk-fieldset__legend--s'
                            }
                        },
                        items: [
                            {
                                classes: 'govuk-input--width-2',
                                name: 'day',
                                value: data['maternity-last-paid-day']
                            },
                            {
                                classes: 'govuk-input--width-2',
                                name: 'month',
                                value: data['maternity-last-paid-month']
                            },
                            {
                                classes: 'govuk-input--width-4',
                                name: 'year',
                                value: data['maternity-last-paid-year']
                            }
                        ]
                    }) }}

                {% endset %}

                {{ govukRadios ({
                    idPrefix: 'maternity-still-paid',
                    name: 'maternity-still-paid',
                    fieldset: {
                        legend: {
                            text: 'Are you still being paid this?',
                            isPageHeading: false,
                            classes: 'govuk-fieldset__legend--s'
                        }
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if data['maternity-still-paid'] == 'Yes'
                        },
                        {
                            text: 'No',
                            value: 'No',
                            checked: true if data['maternity-still-paid'] == 'No',
                            conditional: {
                                html: lastPaidHTML
                            }
                        }
                    ]
                }) }}

                {{ govukInput ({
                    id: 'maternity-who-paid',
                    name: 'maternity-who-paid',
                    value: data['maternity-who-paid'] if data['maternity-who-paid'] else '',
                    classes: 'govuk-input--width-20',
                    label: {
                        text: 'Who paid you this?',
                        classes: 'govuk-input--width-20 app-bold-label'
                    }
                }) }}

                {{ govukInput ({
                    id: 'maternity-amount',
                    name: 'maternity-amount',
                    value: data['maternity-who-paid'] if data['maternity-who-paid'] else '',
                    classes: 'govuk-input--width-20',
                    label: {
                        text: 'Amount paid',
                        classes: 'govuk-input--width-20 app-bold-label'
                    }
                }) }}

                {% set frequencyDetailsHTML %}

                    {{ govukInput ({
                        id: 'maternity-frequency-details',
                        name: 'maternity-frequency-details',
                        value: data['maternity-frequency-details'] if data['maternity-frequency-details'] else '',
                        classes: 'govuk-input--width-20',
                        label: {
                            text: 'How often are you paid?',
                            classes: 'govuk-input--width-20 app-bold-label'
                        }
                    }) }}

                {% endset %}

                {{ govukRadios ({
                    idPrefix: 'maternity-frequency',
                    name: 'maternity-frequency',
                    fieldset: {
                        legend: {
                            text: 'How often are you paid?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--s'
                        }
                    },
                    items: [
                        {
                            text: 'Weekly',
                            value: 'Weekly',
                            checked: true if data['maternity-frequency'] == 'Weekly'
                        },
                        {
                            text: 'Fortnightly',
                            value: 'Fortnightly',
                            checked: true if data['maternity-frequency'] == 'Fortnightly'
                        },
                        {
                            text: 'Every 4 weeks',
                            value: 'Every 4 weeks',
                            checked: true if data['maternity-frequency'] == 'Every 4 weeks'
                        },
                        {
                            text: 'Monthly',
                            value: 'Monthly',
                            checked: true if data['maternity-frequency'] == 'Monthly'
                        },
                        {
                            text: 'It varies',
                            value: 'It varies',
                            checked: true if data['maternity-frequency'] == 'It varies',
                            conditional: {
                                html: frequencyDetailsHTML
                            }
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}