{% extends 'layout.html' %}

{% block pageTitle %}
    February 2021: select any weeks you did not provide care for 35 hours or more
{% endblock %}

{% block beforeContent %}

    {{ super() }}

{{ 'march' | redirect | safe if not data['month-select'] | includes('February') }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="march" method="post">

                {% from "govuk/components/radios/macro.njk" import govukRadios %}

                {% set februarycare1 %}
                                {{ govukRadios({
                                classes: "govuk-radios--inline",
                                idPrefix: 'breaks--medical-february-care1',
                                name: breakLoc + '[medical-february-care1]',
                                fieldset: {
                                    legend: {
                                    text: "Were you or the person you care for in hospital, or receiving medical treatment in a respite or care home?",
                                    classes: "govuk-fieldset__legend--s"
                                    }
                                },
                          
                                    items: [
                                        {
                                            text: 'Yes',
                                            value: 'Yes',
                                            checked: true if break['medical-february-care1'] == 'Yes'
                                        },
                                        {
                                            text: 'No',
                                            value: 'No',
                                            checked: true if break['medical-february-care1'] == 'No'
                                        }
                                    ]
                                }) }}
                {% endset -%}

                {% set februarycare2 %}
                                {{ govukRadios({
                                classes: "govuk-radios--inline",
                                idPrefix: 'breaks--medical-february-care2',
                                name: breakLoc + '[medical-february-care2]',
                                fieldset: {
                                    legend: {
                                    text: "Were you or the person you care for in hospital, or receiving medical treatment in a respite or care home??",
                                    classes: "govuk-fieldset__legend--s"
                                    }
                                },
                    
                                    items: [
                                        {
                                            text: 'Yes',
                                            value: 'Yes',
                                            checked: true if break['medical-february-care2'] == 'Yes'
                                        },
                                        {
                                            text: 'No',
                                            value: 'No',
                                            checked: true if break['medical-february-care2'] == 'No'
                                        }
                                    ]
                                }) }}
                {% endset -%}
                {% set februarycare3 %}
                                {{ govukRadios({
                                classes: "govuk-radios--inline",
                                idPrefix: 'breaks--medical-february-care3',
                                name: breakLoc + '[medical-february-care3]',
                                fieldset: {
                                    legend: {
                                    text: "Were you or the person you care for in hospital, or receiving medical treatment in a respite or care home??",
                                    classes: "govuk-fieldset__legend--s"
                                    }
                                },
                                   
                                    items: [
                                        {
                                            text: 'Yes',
                                            value: 'Yes',
                                            checked: true if break['medical-february-care3'] == 'Yes'
                                        },
                                        {
                                            text: 'No',
                                            value: 'No',
                                            checked: true if break['medical-february-care3'] == 'No'
                                        }
                                    ]
                                }) }}
                {% endset -%}
                {% set februarycare4 %}
                                {{ govukRadios({
                                classes: "govuk-radios--inline",
                                idPrefix: 'breaks--medical-february-care4',
                                name: breakLoc + '[medical-february-care4]',
                                fieldset: {
                                    legend: {
                                    text: "Were you or the person you care for in hospital, or receiving medical treatment in a respite or care home??",
                                    classes: "govuk-fieldset__legend--s"
                                    }
                                },
                                  
                                    items: [
                                        {
                                            text: 'Yes',
                                            value: 'Yes',
                                            checked: true if break['medical-february-care4'] == 'Yes'
                                        },
                                        {
                                            text: 'No',
                                            value: 'No',
                                            checked: true if break['medical-february-care4'] == 'No'
                                        }
                                    ]
                                }) }}
                {% endset -%}
                {% set januarycare5 %}
                    {{ govukRadios({
                    classes: "govuk-radios--inline",
                    idPrefix: 'breaks--medical-january-care5',
                    name: breakLoc + '[medical-january-care5]',
                    fieldset: {
                        legend: {
                        text: "Were you or the person you care for in hospital, or receiving medical treatment in a respite or care home??",
                        classes: "govuk-fieldset__legend--s"
                        }
                    },
                        
                        items: [
                            {
                                text: 'Yes',
                                value: 'Yes',
                                checked: true if break['medical-january-care5'] == 'Yes'
                            },
                            {
                                text: 'No',
                                value: 'No',
                                checked: true if break['medical-january-care5'] == 'No'
                            }
                        ]
                    }) }}
                {% endset -%}

                {{ govukCheckboxes ({

                    fieldset: {
                        legend: {
                            text: 'February 2021: select any weeks you did not provide care for 35 hours or more',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        text: 'Weeks are shown from Sunday to Saturday.'
                    },
                    items: [
                        {
                            idPrefix: '31 January 2021 to 6 February 2021',
                            name: '31 January 2021 to 6 February 2021',
                            text: '31 January 2021 to 6 February 2021',
                            value: '31 January 2021 to 6 February 2021',
                            checked: true if data['31 January 2021 to 6 February 2021'] | includes('31 January 2021 to 6 February 2021'),
                            conditional: {
                                html: januarycare5
                            }
                        },
                        {
                            idPrefix: '7 February 2021 to 13 February 2021',
                            name: '7 February 2021 to 13 February 2021',
                            text: '7 February 2021 to 13 February 2021',
                            value: '7 February 2021 to 13 February 2021',
                            checked: true if data['7 February 2021 to 13 February 2021'] | includes('7 February 2021 to 13 February 2021'),
                            conditional: {
                                html: februarycare1
                            }
                        },
                        {
                            idPrefix: '14 February 2021 to 20 February 2021',
                            name: '14 February 2021 to 20 February 2021',
                            text: '14 February 2021 to 20 February 2021',
                            value: '14 February 2021 to 20 February 2021',
                            checked: true if data['14 February 2021 to 20 February 2021'] | includes('14 February 2021 to 20 February 2021'),
                            conditional: {
                                html: februarycare2
                            }
                        },
                        {
                            idPrefix: '21 February 2021 to 27 February 2021',
                            name: '21 February 2021 to 27 February 2021',
                            text: '21 February 2021 to 27 February 2021',
                            value: '21 February 2021 to 27 February 2021',
                            checked: true if data['21 February 2021 to 27 February 2021'] | includes('21 February 2021 to 27 February 2021'),
                            conditional: {
                                html: februarycare3
                            }
                        },
                        {
                            idPrefix: '28 February 2021 to 6 March 2021',
                            name: '28 February 2021 to 6 March 2021',
                            text: '28 February 2021 to 6 March 2021',
                            value: '28 February 2021 to 6 March 2021',
                            checked: true if data['28 February 2021 to 6 March 2021'] | includes('28 February 2021 to 6 March 2021'),
                            conditional: {
                                html: februarycare4
                            }
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}