{% extends 'layout.html' %}

{% block pageTitle %}
  When did you start providing 35 hours of care for
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="qb-startdate">

        {{ govukDateInput ({
          namePrefix: 'providing-care',
          idPrefix: 'providing-care',
          items: [
            {
              classes: 'govuk-input--width-2',
              name: 'day',
              value: data['providing-care-day']
            },
            {
              classes: 'govuk-input--width-2',
              name: 'month',
              value: data['providing-care-month']
            },
            {
              classes: 'govuk-input--width-4',
              name: 'year',
              value: data['providing-care-year']
            }
          ],
          fieldset: {
            legend: {
              text: 'When did you start providing 35 hours of care for ' + data | getDpName + '?',
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--l'
            }
          },
          hint: {
            text: 'For example, 26 10 2021'
          }
        }) }}

        {{ govukButton({
          html: 'Continue'
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
