{% extends 'layout.html' %}

{% block pageTitle %}
    When do you want Carer’s Allowance to start?
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post" action="employment">

                    {{ govukDateInput({
                    id: "providing-care",
                    namePrefix: "providing-care",
                    fieldset: {
                        legend: {
                        text: "When did you start providing care?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                        }
                    }
                   
                    }) }}

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}