{% extends 'layout.html' %}

{% block pageTitle %}
    When do you want Carer’s Allowance to start?
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post" action="employment">

                {{ govukRadios({
                    idPrefix: 'siphoning--future-claim',
                    name: 'siphoning--future-claim',
                    fieldset: {
                        legend: {
                            text: 'When do you want Carer’s Allowance to start?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    items: [
                        {
                            text: 'From today’s date',
                            value: 'today'
                        },
                        {
                            text: 'From a date in the past or future',
                            value: 'No~siphoning/legacy.html'
                        
                        }
                        
                    ],
                    hint: {
                        text: 'You can backdate your claim for up to 3 months, as long as you provided care for at least 35 hours a week. You can also claim from up to 3 months in the future.'
                    }
                }) }}

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}