{% extends 'layout.html' %}

{% block pageTitle %}
    When do you want Carer’s Allowance to start?
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post" action="nationality2">

           
              
                    {{ govukRadios({
                    idPrefix: "nationality",
                    name: "nationality",
                    fieldset: {
                        legend: {
                        text: "What is your nationality?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                        }
                    },
                    
                    items: [
                        {
                        value: "british",
                        text: "British",
                        hint: {
                            text: "select if you're from England, Scotland, Wales or Northern Ireland"
                        }
                        },
                        {
                        value: "irish",
                        text: "Irish"
                        },
                         {
                        value: "another~another-nationality",
                        text: "Another nationality",
                        hint: {
                            text: "You’ll tell us your nationality on the next page."
                        }
                        }
                    ]
                    }) }}

        <br>
         {{ govukButton({
                    html: 'Continue'
                }) }}

    <h2 class="govuk-heading-m">More information</h2>

        <div class="govuk-body">
            <a href="https://www.gov.uk/government/publications/common-travel-area-guidance">Your rights as an Irish citizen</a>
        </div>
        <div class="govuk-body">
            Find out about types of <a href="https://www.gov.uk/types-of-british-nationality">British nationality</a>
        </div>

          <details class="govuk-details govuk-!-margin-top-7" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                    What to do if you have dual nationality.

                    </span>
                </summary>
                    <div class="govuk-details__text">
                        If you have dual citizenship, select the nationality on the identity documents you're using to make this application.
                    </div>
        </details>

               
            </form>

        </div>

</div>

{% endblock %}