{% extends 'layout.html' %}

{% block pageTitle %}
    Have you been self-employed since one week before your started caring?
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="education">

                {{ govukRadios ({
                    idPrefix: 'siphoning--self-employment',
                    name: 'siphoning--self-employment',
                    fieldset: {
                        legend: {
                            html: 'Have you been <span style="white-space: nowrap">self-employed</span> since one week before your started caring?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes~legacy.html',
                            checked: true if data['siphoning--self-employment'] == 'Yes'
                        },
                        {
                            text: 'No',
                            value: 'No',
                            checked: true if data['siphoning--self-employment'] == 'No'
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}