{% extends 'layout.html' %}

{% block pageTitle %}
    When do you want Carer’s Allowance to start?
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post" action="nationality2">


        <h1 class="govuk-heading-l">What is your nationality?</h1>

           <p>Select if you are British, Irish or a citizen of a different country.</p>


              
                    {{ govukRadios({
                    idPrefix: "nationality",
                    name: "nationality",
                    items: [
                        {
                        value: "british",
                        text: "British",
                        hint: {
                            text: "select if you're from England, Scotland, Wales or Northern Ireland"
                        }
                        },
                        {
                        value: "irish",
                        text: "Irish",
                         hint: {
                            text: "Select if you're from the Republic of Ireland."
                         }
                        },
                        {
                        divider: "or"
                        },
                        {
                        value: "another~another-nationality",
                        text: "Citizen of another country",
                        hint: {
                            text: "You’ll tell us your nationality on the next page."
                        }
                        }
                    ]
                    }) }}

        <br>
         {{ govukButton({
                    html: 'Continue'
                }) }}

    <h2 class="govuk-heading-m">More information</h2>

        <div class="govuk-body">
            <a href="https://www.gov.uk/types-of-british-nationality.asp">Find out about types of British nationality</a>
        </div>
        <div class="govuk-body">
        <a href="https://www.gov.uk/government/publications/common-travel-area-guidance.asp">Your rights as an Irish citizen</a>
        </div>

          <details class="govuk-details govuk-!-margin-top-7" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                    What to do if you have dual nationality.

                    </span>
                </summary>
                    <div class="govuk-details__text">
                        If you have dual nationality, select the nationality on the identity documents you're using to make this application.

                    </div>
        </details>

               
            </form>

        </div>

</div>

{% endblock %}