{% extends 'layout.html' %}
{% set breakIndex = data['selectedBreak'] | uuid %}
{% set breakLoc = 'breaksStore[' + breakIndex + ']' %}
{% set break = data.breaksStore[breakIndex] %}
{% block pageTitle %}
    Did you provide care for at least 35 hours between Sunday 9 January 2022 and Saturday 15 January 2022?
{% endblock %}
{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="part-weeks2">
               
               <h1 class="govuk-heading-l">Did you provide care for at least 35 hours between Sunday 9 January 2022 and Saturday 15 January 2022?</h1>
                        {{ govukDetails({
                        summaryText: "Why we ask this question",
                        text: "For Carer’s Allowance, a week runs from Sunday morning to Saturday night. The date range you entered for the break in care starts part-way through a caring week, so we need to know if you still provided care for 35 hours in that week."
                        }) }}


{{ govukRadios({
  idPrefix: "first-part-week",
  name: "first-part-week",
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

               
                    <button class="govuk-button" data-module="govuk-button" href="medical">
                    Continue
                     </button>
            </form>
        </div>
</div>
{% endblock %}