{% extends 'layout.html' %}

{% block pageTitle %}
    Select any weeks you did not provide care for 35 hours or more
{% endblock %}

{% block beforeContent %}

    {{ super() }}
{#
    {% if data['month-select'] != 'January 2021' %}
    {{ 'february' | redirect | safe }}
    {% endif %}
 #}   
{{ 'february' | redirect | safe if not data['month-select'] | includes('January') }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="february" method="post">

                {% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set test1 %}
                {{ govukRadios({
                classes: "govuk-radios--inline",
                idPrefix: 'breaks--medical-care',
                name: breakLoc + '[medical-care]',
                fieldset: {
                    legend: {
                    text: "Were you or the person you care for in the care of medical professionals during this time?",
                    classes: "govuk-fieldset__legend--s"
                    }
                },
                    hint: {
                        text: 'For example, if either of you were in hospital or a nursing home where they were providing medical treatment'
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if break['medical-care'] == 'Yes'
                        },
                        {
                            text: 'No',
                            value: 'No',
                            checked: true if break['medical-care'] == 'No'
                        }
                    ]
                }) }}
{% endset -%}

                {{ govukCheckboxes ({
                    idPrefix: 'week-select',
                    name: 'week-select',
                    fieldset: {
                        legend: {
                            text: 'Select any weeks you did not provide care for 35 hours or more',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        text: 'Weeks are shown from Sunday to Saturday'
                    },
                    items: [
                         
                        {
                            text: '3 January 2021 to 9 January 2021',
                            value: '3 January 2021 to 9 January 2021',
                            checked: true if data['week-select'] == '3 January 2021 to 9 January 2021',
                            conditional: {
                                html: test1
                            }
                        },
                        {
                            text: '10 January 2021 to 16 January 2021',
                            value: '10 January 2021 to 16 January 2021',
                            checked: true if data['week-select'] == '10 January 2021 to 16 January 2021',
                            conditional: {
                                html: test1
                            }
                        },
                        {
                            text: '17 January 2021 to 23 January 2021',
                            value: '17 January 2021 to 23 January 2021',
                            checked: true if data['week-select'] == '17 January 2021 to 23 January 2021',
                            conditional: {
                                html: test1
                            }
                        },
                        {
                            text: '24 January 2021 to 30 January 2021',
                            value: '24 January 2021 to 30 January 2021',
                            checked: true if data['week-select'] == '24 January 2021 to 30 January 2021',
                            conditional: {
                                html: test1
                            }
                        },
                        {
                            text: '31 January 2021 to 6 February 2021',
                            value: '31 January 2021 to 6 February 2021',
                            checked: true if data['week-select'] == '31 January 2021 to 6 February 2021',
                            conditional: {
                                html: test1
                            }
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}