{% extends 'layout.html' %}

{% block pageTitle %}
    Did you have any other types of earnings
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="type">

                {% set otherDetailsHTML %}

                    {{ govukCharacterCount ({
                        name: 'other--details',
                        id: 'other--details',
                        maxlength: '300',
                        label: {
                            html: 'Give details of your other earnings'
                        }
                    }) }}

                {% endset %}

                {% set hintHTML %}

                    <p>Do not tell us about earnings anyone else gets, or:</p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>pension income</li>
                        <li>benefits you get from DWP</li>
                        <li>help with living costs from someone you live with</li>
                        <li>any loans and borrowing</li>
                    </ul>

                {% endset %}

                {{ govukRadios ({
                    idPrefix: 'income--add',
                    name: 'income--add',
                    fieldset: {
                        legend: {
                            html: 'Did you have any other types of earnings since <span style="white-space:nowrap"> 1 April 2020</span>?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        html: hintHTML
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if data['income--add'] == 'Yes'
                        },
                        {
                            text: 'No',
                            value: 'No',
                            checked: true if data['income--add'] == 'No'
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}