
{% extends "layout.html" %}

{% block pageTitle %}
  Prototypes: Report a change to Carer's Allowance
{% endblock %}

{% block header %}

  <div class="prototype-remove-blue-border-from-header">

    {{ super() }}

    <div class="prototype-home-top">

      <div class="govuk-width-container">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Carer’s Allowance</h1>

            <h1 class="govuk-heading-l govuk-!-font-weight-regular  govuk-!-margin-bottom-2">'Apply' prototype</h1>

          </div>

        </div>
      
      </div>

    </div>
  
  </div>

{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: 'Back to prototype home',
    href: '/'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      {{ prototypeVersionCard({
        ticket: 'ACA-901',
        description: 'Amendments to income journey',
        statusTag: {
            text: 'Draft', 
            classes: 'govuk-tag--grey'
        }
      }) }}

      {{ prototypeVersionCard({
        ticket: 'ACA-728',
        description: 'Scottish devolution letters',
        statusTag: {
            text: 'Draft', 
            classes: 'govuk-tag--grey'
        }
      }) }}

      {{ prototypeVersionCard({
        ticket: 'ACA-906',
        description: 'Scottish devolution CADS pages',
        statusTag: {
            text: 'Draft', 
            classes: 'govuk-tag--grey'
        }
      }) }}

      {{ prototypeVersionCard({
        ticket: 'ACA-651',
        description: 'CA517 Northern Ireland letter to DP',
        statusTag: {
            text: 'Draft', 
            classes: 'govuk-tag--grey'
        }
      }) }}


      {{ prototypeVersionCard({
        ticket: 'ACA-408',
        description: 'Accessibility statement',
        statusTag: {
            text: 'Draft', 
            classes: 'govuk-tag--grey'
        }
      }) }}

      {{ prototypeVersionCard({
        ticket: 'ACA-380',
        description: 'Changes to pay details page to address accessibility issues with sort code fields.',
        statusTag: {
            text: 'Experimental', 
            classes: 'govuk-tag--red'
        },
        researchNotes: [
          'Fields changed to follow GDS design pattern'
        ]
      }) }}

      {{ prototypeVersionCard({
        ticket: 'ACA-299',
        description: 'Changes to declaration page.',
        statusTag: {
            text: 'Experimental', 
            classes: 'govuk-tag--red'
        },
        researchNotes: [
          'Amendments to link text to be more descriptive to resolve accessibility issue.'
        ]
      }) }}

      {{ prototypeVersionCard({
        ticket: 'ACA-284',
        description: 'Changes to content on claim date page.',
        statusTag: {
            text: 'Experimental', 
            classes: 'govuk-tag--red'
        },
        researchNotes: [
          'Adapt content to remove reliance on separate page of guidance.'
        ]
      }) }}

      {{ prototypeVersionCard({
        ticket: 'ACA-202',
        description: 'Link to changes service removed from confirmation page.',
        statusTag: {
            text: 'In service', 
            classes: 'govuk-tag--green'
        },
        researchNotes: [
          'Link to changes service was used by only 0.4% of users, based on a sample from June 2019 to November 2019',
          'UR happy to remove this link, hypothesised to be in wrong place in the journey',
          'Thematic analysis of feedback showed no evidence of users need for link'
        ]
      }) }}

      {{ prototypeVersionCard({
        ticket: 'ACA-111',
        description: 'Changes to address lookup journey for applicant.',
        statusTag: {
            text: 'In service', 
            classes: 'govuk-tag--green'
        },
        researchNotes: [
          'New journey added to follow GDS design pattern'
        ]
      }) }}

      {{ prototypeVersionCard({
        ticket: 'ACA-118',
        description: 'Changes to address lookup journey for DP.',
        statusTag: {
            text: 'In service', 
            classes: 'govuk-tag--green'
        },
        researchNotes: [
          'New journey added to follow GDS design pattern'
        ]
      }) }}
      
    </div>
  </div>

{% endblock %}
