
{% extends "layout.html" %}

{% block pageTitle %}
  Prototypes: Apply for Carer's Allowance
{% endblock %}

{% block header %}


    {{ super() }}

{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: 'Back to prototype home',
    href: '/'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

 <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Improvements to existing service</h1>
<br><br>

<div class="app-most-recent">
  <h2 class="govuk-heading-m">Eligibility drop outs</h2>
    {# <strong class="govuk-tag govuk-tag--red">Experimental</strong> #}
<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
  <dl>
    <dt class="govuk-heading-s">Date of design</dt>
    <dd class="govuk-body" style="margin-left:0%">Nov 2022</dd>
  </dl>
</div>
<div class="govuk-grid-column-one-third">

  <dl>
    <dt class="govuk-heading-s">Designers</dt>
    <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
  </dl>
</div>
</div>
  
<p><b>Qualifying benefit:</p><a href="/apply/ACA-1980/qb-dropout" class="govuk-button govuk-button--start">Start now</a><br>


</div> 

<div class="app-most-recent">
  <h2 class="govuk-heading-m">OIDV testing in live service</h2>
    {# <strong class="govuk-tag govuk-tag--red">Experimental</strong> #}
<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
  <dl>
    <dt class="govuk-heading-s">Date of design</dt>
    <dd class="govuk-body" style="margin-left:0%">Sep 2022</dd>
  </dl>
</div>
<div class="govuk-grid-column-one-third">
  <dl>
    <dt class="govuk-heading-s">Designers</dt>
    <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
  </dl>
</div>
</div>
  
<p><b>Filter pages:</p><a href="/apply/ACA-0000/mobile-filter" class="govuk-button govuk-button--start">Start now</a><br>
<p><b>Dropout page:</p><a href="/apply/ACA-0000/dropout" class="govuk-button govuk-button--start">Start now</a><br>


</div> 


<div class="app-most-recent">
  <h2 class="govuk-heading-m">POca - iteration 1</h2>
    {# <strong class="govuk-tag govuk-tag--red">Experimental</strong> #}
<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
  <dl>
    <dt class="govuk-heading-s">Date of design</dt>
    <dd class="govuk-body" style="margin-left:0%">August 2022</dd>
  </dl>
</div>
<div class="govuk-grid-column-one-third">
  <dl>
    <dt class="govuk-heading-s">Designers</dt>
    <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
  </dl>
</div>
</div>
<h3 class="govuk-heading-s">UI changes</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>...
  </li>
</ul>

<h3 class="govuk-heading-s">Related story</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>
  <a href="https://dwpdigital.atlassian.net/browse/ACA-1472">ACA-1515</a> -  ...
  </li>
  <br>
</ul>   
<a href="/apply/ACA-1515/bank-details" class="govuk-button govuk-button--start">Start now</a><br>


</div> 

<div class="app-most-recent">
  <h2 class="govuk-heading-m">Date of claim - iteration 1</h2>
    {# <strong class="govuk-tag govuk-tag--red">Experimental</strong> #}
<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
  <dl>
    <dt class="govuk-heading-s">Date of design</dt>
    <dd class="govuk-body" style="margin-left:0%">May 2022</dd>
  </dl>
</div>
<div class="govuk-grid-column-one-third">
  <dl>
    <dt class="govuk-heading-s">Designers</dt>
    <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
  </dl>
</div>
</div>
{# <h3 class="govuk-heading-s">Business requirements</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>The current employment question “Have you been an employee since [claim date - 6-months]?” could be perceived by some as leading to people understanding this as being employed on that date and not at any point since that time. There is some anecdotal evidence to support this and that it is leading agents to have to do callbacks
  </li>
</ul> #}

<h3 class="govuk-heading-s">UI changes</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>...
  </li>
</ul>

<h3 class="govuk-heading-s">Related story</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>
  <a href="https://dwpdigital.atlassian.net/browse/ACA-1472">ACA-1472</a> - Date of claim redesign
  </li>
  <br>
</ul>   
<p><b>New design:<br>
<a href="/apply/ACA-1472/index" class="govuk-button govuk-button--start">Start now</a><br>

<p><b>Current design:<br>
<a href="/apply/ACA-1472/live/start-page" class="govuk-button govuk-button--start">Start now</a><br>
  
</div>  

<div class="app-most-recent">
  <h2 class="govuk-heading-m">Income redesign</h2>
    {# <strong class="govuk-tag govuk-tag--red">Experimental</strong> #}
<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
  <dl>
    <dt class="govuk-heading-s">Date of design</dt>
    <dd class="govuk-body" style="margin-left:0%">March 2022</dd>
  </dl>
</div>
<div class="govuk-grid-column-one-third">
  <dl>
    <dt class="govuk-heading-s">Designers</dt>
    <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson, Steve Kell and Colin Jones</dd>
  </dl>
</div>
</div>
<h3 class="govuk-heading-s">Business requirements</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>The current employment question “Have you been an employee since [claim date - 6-months]?” could be perceived by some as leading to people understanding this as being employed on that date and not at any point since that time. There is some anecdotal evidence to support this and that it is leading agents to have to do callbacks
  </li>
</ul>

<h3 class="govuk-heading-s">UI changes</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>Ideal journey breaking the questions down to one per page to follow design principle
  </li>
</ul>

<h3 class="govuk-heading-s">Related story</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>
  <a href="https://dwpdigital.atlassian.net/browse/ACA-1405">ACA-1405</a> - Improve employment questions
  </li>
  <br>
</ul>   
<a href="/apply/ACA-1405/index" class="govuk-button govuk-button--start">Start now</a><br>
  
</div>  

<div class="app-most-recent">
  <h2 class="govuk-heading-m">Income iteration 1</h2>
    {# <strong class="govuk-tag govuk-tag--red">Experimental</strong> #}
<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
  <dl>
    <dt class="govuk-heading-s">Date of design</dt>
    <dd class="govuk-body" style="margin-left:0%">June 2022</dd>
  </dl>
</div>
<div class="govuk-grid-column-one-third">
  <dl>
    <dt class="govuk-heading-s">Designers</dt>
    <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
  </dl>
</div>
</div>
<h3 class="govuk-heading-s">Business requirements</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>Don't need to ask about private pensions
  </li>
</ul>

<h3 class="govuk-heading-s">UI changes</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>Ideal journey breaking the questions down to one per page to follow design principle
  </li>
</ul>

<h3 class="govuk-heading-s">Related story</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>
  <a href="https://dwpdigital.atlassian.net/browse/ACA-1405">ACA-1405</a> - Improve employment questions
  </li>
  <br>
</ul>   
<a href="/apply/ACA-1463/expenses" class="govuk-button govuk-button--start">Start now</a><br>
  
</div>  

      <div class="app-most-recent">
            <h2 class="govuk-heading-m">Breaks in care - iteration 6</h2>
              {# <strong class="govuk-tag govuk-tag--red">Experimental</strong> #}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Date of design</dt>
              <dd class="govuk-body" style="margin-left:0%">February 2022</dd>
            </dl>
          </div>
          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Designers</dt>
              <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
            </dl>
          </div>
        </div>
        <h3 class="govuk-heading-s">Business requirements</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>If citizen provides dates of a break in care that run over a part week, we need to know whether or not they cared for 35 hours in that week </li>
          </ul>

        <h3 class="govuk-heading-s">Research scenario</h3>
          <p>User is making a claim for CA. They started providing care for John Smith on 12 November 2021, and they’re claiming CA from 5 January 2022.
              <p>John went into hospital on 11 January 2022 and came out on 26 January 2022. The user identifies this as being a break in care and needs to tell us. The care weeks in which she did not provide 35 hours of care are 16 to 22 January and 23 to 29 January. She provided care for 35 hours in the care week where John went into hospital (9 to 15 January).</p>
       
          <h3 class="govuk-heading-s">Related story</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>
            <a href="https://dwpdigital.atlassian.net/browse/ACA-1386">ACA-1386</a> - Breaks in care - iteration 2 - citizen can confirm part weeks as a break
            </li>
            <br>
          </ul>
         <p> <b>Design 1</b><p>The user is presented with both of the part-care weeks on one page and asked to tell us which ones they did not provide 35 hours of care, if any.
             <br><br><a href="/apply/ACA-1386-1/start-page" class="govuk-button govuk-button--start">Start now</a><br>
             <b>Design 2</b><br>
             <p>The user is asked about each part-care week as separate questions.
<br><br>
             <a href="/apply/ACA-1386-2/start-page" class="govuk-button govuk-button--start">Start now</a><br>

        
      </div>  

<div class="app-most-recent">
            <h2 class="govuk-heading-m">PRO517 automation improvements - iteration 3</h2>
              {# <strong class="govuk-tag govuk-tag--red">Experimental</strong> #}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Date of design</dt>
              <dd class="govuk-body" style="margin-left:0%">January 2022</dd>
            </dl>
          </div>
          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Designers</dt>
              <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
            </dl>
          </div>
        </div>
        <h3 class="govuk-heading-s">Business requirements</h3>
        <p>
          As with iteration 1 and 2, we want to explore further design changes that could improve the user journey and help encourage claimants to 
          enter the NINO of the person they provide care for.
        </p>
         <h3 class="govuk-heading-s">UI Improvements</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>Dynamic H1 and paragraph content depending on whether or not the person they provide care for is over 16, based on the DOB they enter on the previous page.</li>
          </ul>
       
          <h3 class="govuk-heading-s">Related story</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <a href="https://dwpdigital.atlassian.net/browse/ACA-1375">ACA-1375</a> - Further design solutions to increase PRO517 automation
            </li>
            <br>
          </ul>
          <p><b>Over 16:<br>
             <a href="/apply/ACA-1375-2/dp-details2" class="govuk-button govuk-button--start">Start now</a><br>
          Under 16:<br>
             <a href="/apply/ACA-1375-2/dp-details1" class="govuk-button govuk-button--start">Start now</a><br>
      </div>  

<div class="app-most-recent">
            <h2 class="govuk-heading-m">PRO517 automation improvements - iteration 2</h2>
              {# <strong class="govuk-tag govuk-tag--red">Experimental</strong> #}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Date of design</dt>
              <dd class="govuk-body" style="margin-left:0%">January 2022</dd>
            </dl>
          </div>
          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Designers</dt>
              <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
            </dl>
          </div>
        </div>
        <h3 class="govuk-heading-s">Business requirements</h3>
        <p>
          As with iteration 1, we want to explore further design changes that could encourage claimants to 
          enter the NINO of the person they provide care for.
        </p>
       
          <h3 class="govuk-heading-s">Related story</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <a href="https://dwpdigital.atlassian.net/browse/ACA-1375">ACA-1375</a> - Further design solutions to increase PRO517 automation
            </li>
            <br>
          </ul>
             <a href="/apply/ACA-1375/eligible" class="govuk-button govuk-button--start">Start now</a><br>
      </div>  

      <div class="app-most-recent">
            <h2 class="govuk-heading-m">PRO517 automation improvements - iteration 1</h2>
              {# <strong class="govuk-tag govuk-tag--red">Experimental</strong> #}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Date of design</dt>
              <dd class="govuk-body" style="margin-left:0%">December 2021</dd>
            </dl>
          </div>
          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Designers</dt>
              <dd class="govuk-body" style="margin-left:0%">Colin Jones</dd>
            </dl>
          </div>
        </div>
        <h3 class="govuk-heading-s">Business requirements</h3>
        <p>
          In order to improve the current PRO517 automation rate (66%), we need to increase the number of claims that 
          come in with the DP's NINO. Currently, around 60% of cases where the PRO517 failed to sent automatically were because
          there was no DP NINO. 
        </p>
        <P>
          Looking at ways to change the way we capture the DP NINO, encouraging users to enter it where they can. 
        </P>
        <p>
          We are unable to make this field mandatory.
        </p>
       
          <h3 class="govuk-heading-s">Related story</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <a href="https://dwpdigital.atlassian.net/browse/ACA-1311">ACA-1311</a> - Improvement of automation of PRO517 letters
            </li>
            <br>
          </ul>
             <a href="/apply/ACA-1311/eligible" class="govuk-button govuk-button--start">Start now</a><br>
      </div>  

 

 <div class="app-most-recent">
            <h2 class="govuk-heading-m">Breaks in care - iteration 5</h2>
              {# <strong class="govuk-tag govuk-tag--red">Experimental</strong> #}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Date of design</dt>
              <dd class="govuk-body" style="margin-left:0%">January 2022</dd>
            </dl>
          </div>
          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Designers</dt>
              <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
            </dl>
          </div>
        </div>
        <h3 class="govuk-heading-s">Business requirements</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>Need to know who was where</li>
            <li>Need to cater for if both carer and caree were receving medical care in the same break (edge case but could happen)</li>
          </ul>
       
          <h3 class="govuk-heading-s">Related story</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>
            <a href="https://dwpdigital.atlassian.net/browse/ACA-1366">ACA-1366</a> - Find out who received medical care
            </li>
            <br>
          </ul>
             <a href="/apply/ACA-1289-3/start-page" class="govuk-button govuk-button--start">Start now</a><br>
        
      </div>  

   <div class="app-most-recent">
            <h2 class="govuk-heading-m">Breaks in care - iteration 4</h2>
              {# <strong class="govuk-tag govuk-tag--red">Experimental</strong> #}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Date of design</dt>
              <dd class="govuk-body" style="margin-left:0%">December 2021</dd>
            </dl>
          </div>
          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Designers</dt>
              <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
            </dl>
          </div>
        </div>
        <h3 class="govuk-heading-s">Business requirements</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>Add question about hospital stays</li>
          </ul>
        <h3 class="govuk-heading-s">UI Improvements</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>Updated entering dates design to be more accessible</li>
          </ul>
          <h3 class="govuk-heading-s">Related story</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>
            <a href="https://dwpdigital.atlassian.net/browse/ACA-1289">ACA-1289</a> - BIC UI improvements
            </li>
            <br>
          </ul>
            <p><b>Hospital question in radio reveal:</p>
             <a href="/apply/ACA-1289-2/start-page" class="govuk-button govuk-button--start">Start now</a><br>
             <p><b>Version splitting hospital question onto two pages and including hospital on summary page:</p>
          <a href="/apply/ACA-1289/start-page" class="govuk-button govuk-button--start">Start now</a><br>

      </div>  



     <div class="app-most-recent">
            <h2 class="govuk-heading-m">Breaks in care - iteration 3</h2>
              {# <strong class="govuk-tag govuk-tag--red">Experimental</strong> #}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Date of design</dt>
              <dd class="govuk-body" style="margin-left:0%">September 2021</dd>
            </dl>
          </div>
          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Designers</dt>
              <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
            </dl>
          </div>
        </div>
        <h3 class="govuk-heading-s">Business requirement</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>Journey includes, ID&T data capture and date of claim</li>
            <li>Only asking for the dates of breaks in care if after date of claim</li>
            <li>Scenario: 20 September 2021 date of claim, 1 August 2021 date started caring
          </ul>
          <h3 class="govuk-heading-s">Related story</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>
            <a href="https://dwpdigital.atlassian.net/browse/ACA-1285">ACA-1285</a> - BIC UI improvements
            </li>
          </ul>
             <a href="/apply/ACA-1285/ACA-1285-2/start-page" class="govuk-button govuk-button--start">Start now</a><br>
      </div>  


     <div class="app-most-recent">
            <h2 class="govuk-heading-m">Breaks in care - iteration 2</h2>
              {# <strong class="govuk-tag govuk-tag--red">Experimental</strong> #}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Date of design</dt>
              <dd class="govuk-body" style="margin-left:0%">August 2021</dd>
            </dl>
          </div>
          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Designers</dt>
              <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
            </dl>
          </div>
        </div>
        <h3 class="govuk-heading-s">Business requirement</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>Updated to GDS style one thing per page for removing a break in care from check your answers</li>
          </ul>
          <h3 class="govuk-heading-s">Related story</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>
            <a href="https://dwpdigital.atlassian.net/browse/ACA-1088">ACA-1088</a> - Add new page for removing a break in care entry from the summary page
            </li>
          </ul>
             <a href="/apply/ACA-1038/ACA-1088/first" class="govuk-button govuk-button--start">Start now</a><br>
      </div>   



        <div class="app-most-recent">
            <h2 class="govuk-heading-m">Breaks in care - iteration 1</h2>
      {# <strong class="govuk-tag govuk-tag--red">Experimental</strong> #}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Date of design</dt>
              <dd class="govuk-body" style="margin-left:0%">July 2021</dd>
            </dl>
          </div>
          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Designers</dt>
              <dd class="govuk-body" style="margin-left:0%">Emily Wilkinson and Colin Jones</dd>
            </dl>
          </div>
        </div>
        <h3 class="govuk-heading-s">Business requirement</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>Must capture all hospital, care home and respite care stays</li>
          </ul>
          <h3 class="govuk-heading-s">Related story</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>
            <a href="https://dwpdigital.atlassian.net/browse/ACA-1038">ACA-1038</a> - Improve BIC journey 
            </li>
          </ul>
      <a href="/apply/ACA-1038/ACA-1088-new/first" class="govuk-button govuk-button--start">Start now</a><br>
          </div>   

          <h2 class="govuk-heading-m">
     <a href="/apply/index-older" class="govuk-link--no-visited-state">
          Older prototypes
        </a><h2>
   </div>

  
      
    </div>
  </div>

{% endblock %}
