{% extends 'layout.html' %}

{% block pageTitle %}
    POC end-to-end journey
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                <h1 class="govuk-heading-xl">POC end-to-end journey</h1>

                <ol class="app-task-list">
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">1. </span> Pre-ID&V eligibility
                        </h2>
                        <ul class="app-task-list__items">
                            {{ taskListItem({
                                name: 'Qualifying benefit',
                                url: 'eligibility/qb',
                                isActive: 'true',
                                tag: {
                                    text: 'Draft',
                                    color: 'grey'
                                }
                            })}}
                            {{ taskListItem({
                                name: 'Caring 35 hours',
                                url: 'eligibility/35-hours',
                                isActive: 'true',
                                tag: {
                                    text: 'Draft',
                                    color: 'grey'
                                }
                            })}}
                            {{ taskListItem({
                                name: 'Over 16',
                                url: 'eligibility/age',
                                isActive: 'true',
                                tag: {
                                    text: 'Draft',
                                    color: 'grey'
                                }
                            })}}
                            {{ taskListItem({
                                name: 'UK resident',
                                url: 'eligibility/resident',
                                isActive: 'true',
                                tag: {
                                    text: 'Draft',
                                    color: 'grey'
                                }
                            })}}
                            {{ taskListItem({
                                name: 'Employment',
                                url: 'eligibility/employment',
                                isActive: 'true',
                                tag: {
                                    text: 'Draft',
                                    color: 'grey'
                                }
                            })}}
                            {{ taskListItem({
                                name: 'State Pension',
                                url: 'eligibility/state-pension',
                                isActive: 'true',
                                tag: {
                                    text: 'Draft',
                                    color: 'grey'
                                }
                            })}}
                        </ul>
                    </li>
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">2. </span> ID&V
                        </h2>
                        <ul class="app-task-list__items">
                            {{ taskListItem({
                                name: 'Login',
                                url: 'idv/login',
                                isActive: 'true',
                                tag: {
                                    text: 'Draft',
                                    color: 'grey'
                                }
                            })}}
                        </ul>
                    </li>
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">3. </span> Employment
                        </h2>
                        <ul class="app-task-list__items">
                            {{ taskListItem({
                                name: 'Confirm employment information',
                                url: 'employment/confirm-employment',
                                isActive: 'true',
                                tag: {
                                    text: 'Draft',
                                    color: 'grey'
                                }
                            })}}
                            {{ taskListItem({
                                name: 'Earnings limit',
                                url: 'employment/earnings-limit',
                                isActive: 'true',
                                tag: {
                                    text: 'Draft',
                                    color: 'grey'
                                }
                            })}}
                        </ul>
                    </li>
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">4. </span> Dependant person
                        </h2>
                        <ul class="app-task-list__items">
                            {{ taskListItem({
                                name: 'Name',
                                url: 'dp/name',
                                isActive: 'true',
                                tag: {
                                    text: 'Draft',
                                    color: 'grey'
                                }
                            })}}
                            {{ taskListItem({
                                name: 'National Insurance number',
                                url: 'dp/ni',
                                isActive: 'true',
                                tag: {
                                    text: 'Draft',
                                    color: 'grey'
                                }
                            })}}
                            {{ taskListItem({
                                name: 'Date of birth',
                                url: 'dp/dob',
                                isActive: 'true',
                                tag: {
                                    text: 'Draft',
                                    color: 'grey'
                                }
                            })}}
                            {{ taskListItem({
                                name: 'Same address as applicant',
                                url: 'dp/same-address',
                                isActive: 'true',
                                tag: {
                                    text: 'Draft',
                                    color: 'grey'
                                }
                            })}}
                        </ul>
                    </li>
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">5. </span> Claim date
                        </h2>
                        <ul class="app-task-list__items">
                            {{ taskListItem({
                                name: 'QB award date',
                                url: 'claim-date/qb-date',
                                isActive: 'true',
                                tag: {
                                    text: 'Draft',
                                    color: 'grey'
                                }
                            })}}
                        </ul>
                    </li>
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">6. </span> Breaks in care
                        </h2>
                        <ul class="app-task-list__items">
                            {{ taskListItem({
                                name: 'Any breaks?',
                                url: 'breaks/any',
                                isActive: 'true',
                                tag: {
                                    text: 'Draft',
                                    color: 'grey'
                                }
                            })}}
                        </ul>
                    </li>
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">7. </span> Education
                        </h2>
                        <ul class="app-task-list__items">
                            {{ taskListItem({
                                name: 'In university',
                                url: 'education/university',
                                isActive: 'true',
                                tag: {
                                    text: 'Draft',
                                    color: 'grey'
                                }
                            })}}
                            {{ taskListItem({
                                name: 'Full time education',
                                url: 'education/full-time',
                                isActive: 'true',
                                tag: {
                                    text: 'Draft',
                                    color: 'grey'
                                }
                            })}}
                        </ul>
                    </li>
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">8. </span> Contact details
                        </h2>
                        <ul class="app-task-list__items">
                            {{ taskListItem({
                                name: 'Telephone number',
                                url: 'contact/phone',
                                isActive: 'true',
                                tag: {
                                    text: 'Draft',
                                    color: 'grey'
                                }
                            })}}
                            {{ taskListItem({
                                name: 'Email address',
                                url: 'contact/email',
                                isActive: 'true',
                                tag: {
                                    text: 'Draft',
                                    color: 'grey'
                                }
                            })}}
                            
                        </ul>
                    </li>
                </ol>

            </form>

        </div>

</div>

{% endblock %}