{% extends 'layout.html' %}

{% block pageTitle %}
Carer's Allowance prototype
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="qualifying-benefit-not-eligible">

                {% set careStartDateHTML %}

                    {{ govukRadios ({
                        id: 'care-start-date',
                        name: 'care-start-date',
                        fieldset: {
                            legend: {
                                text: 'You will only get Carers Allowance if the person you provide care for gets one of these benefits.',
                                isPageHeading: false,
                                classes: 'govuk-fieldset__legend--s app-normal-label'
                            }
                        }

                    }) }}

                {% endset %}


                {{ govukRadios({
                    idPrefix: 'qb',
                    name: 'qb',
                    fieldset: {
                        legend: {
                            text: 'What benefit is ' + data['dp-first-name'] +' '+ data['dp-last-name'] + ' receiving?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        text: 'Do not include any benefits they have applied for if they have not got a decision yet.'
                    },
                    items: [
                        {
                            text: 'Personal Independence Payment (PIP) daily living component',
                            value: 'Personal Independence Payment (PIP) daily living component',
                            checked: true if data['elig--qb'] == 'Personal Independence Payment (PIP) daily living component'
                        },
                        {
                            text: 'Disability Living Allowance (DLA) - middle or highest care rate',
                            value: 'Disability Living Allowance (DLA) - middle or highest care rate',
                            checked: true if data['elig--qb'] == 'Disability Living Allowance (DLA) - middle or highest care rate'
                        },
                        {
                            text: 'Attendance Allowance (AA)',
                            value: 'Attendance Allowance (AA)',
                            checked: true if data['elig--qb'] == 'Attendance Allowance (AA)'
                        },
                        {
                            text: 'Constant Attendance Allowance (CAA)',
                            value: 'Constant Attendance Allowance (CAA)',
                            checked: true if data['elig--qb'] == 'Constant Attendance Allowance (CAA)'
                        },
                        {
                            text: 'Armed Forces Independence Payment (AFIP)',
                            value: 'Armed Forces Independence Payment (AFIP)',
                            checked: true if data['elig--qb'] == 'Armed Forces Independence Payment (AFIP)'
                        },
                        {
                            text: 'A disability benefit paid by a country in the EU',
                            value: 'a disability benefit paid by a country in the EU',
                            checked: true if data['elig--qb'] == 'a disability benefit paid by a country in the EU'
                        },
                        {
                            text: 'None of these benefits',
                            value: 'None of these benefits~/apply/aca-1994/qualifying-benefit-not-eligible',
                            checked: true if data['elig--qb'] == 'None of these benefits',
                            conditional : {
                                html: careStartDateHTML
                            }
                        }
                    ]
                }) }}

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}