{% extends 'layout.html' %}

{% block pageTitle %}
    Does anyone else claim a benefit for caring for the person you care for? 
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="../index">

                {{ govukRadios({
                    idPrefix: 'dp--other-carers',
                    name: 'dp--other-carers',
                    fieldset: {
                        legend: {
                            text: 'Does anyone else claim a benefit for caring for ' + data['dp--name'] | default('the person you care for') + '?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        text: 'This includes Carer’s Allowance or the carer element of Universal Credit'
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if data['dp--other-carers'] == 'Yes'
                        },
                        {
                            text: 'No',
                            value: 'No',
                            checked: true if data['dp--other-carers'] == 'No'
                        }
                    ]
                }) }}

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}