{% extends 'layout.html' %}

{% block pageTitle %}
    Select an address – Apply for Carer’s Allowance – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            {% if data.error %}
                {{ govukErrorSummary({
                    'titleText': 'There is a problem',
                    'errorList': [
                        {
                            'text': 'Select an address',
                            'href': '#applicant-address-selected'
                        }
                    ]
                }) }}
            {% endif %}

            {% if data['from-check'] != 'true' %}
                <form action="../eligibility/35-hours">
            {% else %}
                <form action="../checkpoint/cya">
            {% endif %}

                <h1 class="govuk-heading-l">Select the address where {{ data['dp--name'] | default('the person you care for') }} lives</h1>

                <p class="govuk-!-margin-bottom-8">
                    <b>Postcode:</b> {{ data['dp--postcode'] | default('AB12 3CD')}}
                    <br> <a href="postcode">Change</a>
                </p>

                {{ govukSelect({
                    id: 'dp--address',
                    name: 'dp--address',
                    items: data.dummyAddresses | addressOptions(data['dp--address']),
                    label: {
                        text: 'Select an address'
                    }
                }) }}

                {# Change the dummy addresses in app/data/session-data-defaults.js if needed #}

                <p>
                    <a href="manual-address">Enter address manually</a>
                </p>

                <input type="hidden" name="dp--address-is-manual" value="No">

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}