{% extends 'layout.html' %}

{% block pageTitle %}
Carer's Allowance prototype
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="dp-relationship">

                <h1 class="govuk-heading-l">What is your email address?</h1>

                 <div id="email-hint" class="govuk-hint">We will only use this to send you a confirmation email. If we need more information about your application, we will contact you by phone or post.
                    </div>

                {{ govukInput ({
                  id: 'carer-email',
                  name: 'carer-email',
                  value: data['carer-email'] if data['carer-email'] else '',
                  type: 'email',
                  label: {
                    text: 'Email address (optional)'
                  }
                }) }}

 
             


                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}