{% extends 'layout.html' %}

{% block pageTitle %}
Carer's Allowance prototype
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post" action="dp-dob">

       

            {{ govukRadios({
  idPrefix: "contact",
  name: "contact",
  fieldset: {
    legend: {
      text:'Have you lived with Susan Grainger at any time since [date of claim]?',
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
 
  items: [
    {
      value: "yes",
      text: "Yes"
     
    },
     {
      value: "no",
      text: "No"
    }

  ]
}) }}

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}