{% extends 'layout.html' %}

{% block pageTitle %}
Carer's Allowance prototype
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="dp-address1">

           {% set otherHtml %}
                {{ govukInput({
            
                classes: "govuk-!-width-two-thirds",
                label: {
                    text: "Relationship"
                }
                }) }}
                {% endset -%}


       {{ govukRadios({
                    idPrefix: 'elig--qb',
                    name: 'elig--qb',
                    fieldset: {
                        legend: {
                            text: "Is Susan Grainger your:",
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    
                    items: [
                        {
                            text: 'Partner',
                            value: 'Yes',
                            hint: {
                                    text:'A partner is a husband, wife, civil partner or someone that you are in a relationship with.'}
                        },
                        {
                            text: 'Son or daughter',
                            value: 'sondaughter'
                        },
                        {
                            text: 'Parent',
                            value: 'parent'
                        },
                        {
                            text: 'Other family member',
                            value: 'family',
                            hint: {
                                    text:'For example, grandparent, brother, sister, aunt, uncle or cousin.'}
                        },
                    
                        {
                            text: 'Friend',
                            value: 'friend'
                        },
                        {
                            text: 'Other',
                            value: 'other',
                            conditional: {
                                html: otherHtml
                            }
                        }
                     
                    ]
                }) }}

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}