{% extends 'layout.html' %}

{% block pageTitle %}
Carer's Allowance prototype
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="payment-from-abroad">


               {{ govukTextarea({
                    name: "more-detail",
                    id: "more-detail",
                    label: {
                        text: "Details of the times you have been away from England, Scotland or Wales for more than 52 weeks since (date)",
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },
                    hint: {
                        text: "Include dates you left and returned. We might contact you for further details."
                    }
                    }) }}

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}