{% extends 'layout.html' %}

{% block pageTitle %}
Carer's Allowance prototype
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="nationality-arrive-date">


       <h1 class="govuk-heading-l">Which country did you live in?</h1>



            <div class="govuk-form-group">
                <label class="govuk-label" for="two-thirds">
                    Country lookup
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="two-thirds" name="two-thirds" type="text">
                </div>

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}