{% extends 'layout.html' %}

{% block pageTitle %}
Carer's Allowance prototype
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="nationality-country">


       


                {{ govukRadios({
                    idPrefix: 'elig--qb',
                    name: 'elig--qb',
                    fieldset: {
                        legend: {
                            text: 'When did you arrive in England, Scotland or Wales?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    
                    items: [
                        {
                            text: 'Less than 3 years ago',
                            value: 'less~/apply/lowtrust/nationality-country'
                        },
                        {
                            text: 'More than 3 years ago',
                            value: 'more~/apply/lowtrust/nationality-52weeks',
                              conditional: {
                              html: nationalityHtml
                                }
                           
                        }
                     
                    ]
                }) }}

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}