{% extends 'layout.html' %}

{% block pageTitle %}
Carer's Allowance prototype
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="nationality-52weeks">




                {{ govukRadios({
                    idPrefix: 'elig--qb',
                    name: 'elig--qb',
                    fieldset: {
                        legend: {
                            text: 'Have you always lived in England, Scotland or Wales?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    
                    items: [
                        {
                            text: 'Yes',
                            value: 'yes~/apply/lowtrust/nationality-52weeks'
                        },
                        {
                            text: 'No',
                            value: 'No~/apply/lowtrust/nationality-arrive',
                              conditional: {
                              html: nationalityHtml
                                }
                           
                        }
                     
                    ]
                }) }}

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}