{% extends 'layout.html' %}

{% block pageTitle %}
Carer's Allowance prototype
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="partner-name">

               <h1 class="govuk-heading-l">Have you lived with a partner at any time since [claim date]?</h1>

        <div class="govuk-hint"> We look at any money your partner gets from benefits when we work out if you can get Carer's Allowance.
        <br><br>By partner we mean:
            <ul class="govuk-list govuk-list--bullet govuk-hint">
            <li>a person you're married to or live with as if you are married</li>
            <li>a civil partner or a person you live with as if you're civil partners</li>
            </ul>

        </div>
                {{ govukRadios({
                    idPrefix: 'elig--qb',
                    name: 'elig--qb',
                  
                    items: [
                        {
                            text: 'Yes',
                            value: 'yes~/apply/lowtrust/partner-name'
                        },
                        {
                            text: 'No',
                            value: 'no~/apply/lowtrust/partner-name'
                        }
                         
                     
                    ]
                }) }}

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}