{% extends 'layout.html' %}

{% block pageTitle %}
Are you age 16 or over?
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="carers-telephone">


 <h1 class="govuk-heading-l">Payments from abroad screens tbc
                </h1>


          

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}