{% extends 'layout.html' %}

{% block pageTitle %}
Carer's Allowance prototype
{% endblock %}
{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post" action="claimdate-1">

                {{ govukRadios({
                    idPrefix: 'qb-3months',
                    name: 'qb-3months',
                    fieldset: {
                        legend: {
                            text: 'Was ' + data['dp-first-name'] +' '+ data['dp-last-name'] + '\'s Attendance Allowance claim awarded before [today - 3 month]?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes'
                        },
                      
                         {
                            text: 'No',
                            value: 'No'
                        },
                         {
                            text: 'Not sure',
                            value: 'Not sure'
                        }
                    ]
                }) }}

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}