{% extends 'layout.html' %}

{% block pageTitle %}
Carer's Allowance prototype
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post" action="qb-3months">

            {% set dateHtml %}

                   <p>Call Carer's Allowance unit </p>

            {% endset -%}

            {{ govukRadios({
  idPrefix: "contact",
  name: "contact",
  fieldset: {
    legend: {
      text:'Is ' + data['dp-first-name'] +' '+ data['dp-last-name'] + '\ terminally ill?',
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "By terminally ill we mean.."
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      conditional: {
        html: dateHtml
      }
    },
     {
      value: "no",
      text: "No"
    }

  ]
}) }}

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}