{% extends 'layout.html' %}
{% set carerName = 'Alice Walsh' %}
{% set dpName = 'Emily Marsden' %}
{% set claimDate = '1 February 2021' %}
{% block pageTitle %}
    Since 1 February 2021, have there been any times you have not provided care for at least 35 hours a week?
{% endblock %}
{% block beforeContent %} 
    {{ super() }}
    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post">
          
                <!-- To redirect to a different page based on radio selected use: ~/poc/E2E/breaks/dates2-html2/PAGE_TO_GO_TO -->
                {{ govukRadios({
                    idPrefix: "breaks-in-care",
                    name: "breaks-in-care",
                    fieldset: {
                    legend: {
                        text: "Were any of the breaks in care after 20 September 2021? "

,
                        isPageHeading: false,
                        classes: "govuk-fieldset__legend--l"
                    }
                    },
                    items: [
                        {
                            value: "Yes~/apply/ACA-1289/details",
                            text: "Yes"
                        },
                        {
                            value: "No~/apply/ACA-1289/education",
                            text: "No"
                        }
                    ]
                }) }}
                {{ govukButton ({
                    html: 'Continue',
                    classes: 'govuk-button'
                }) }}
            </form>
        </div>
</div>
{% endblock %}