{% extends 'layout.html' %}

{% block pageTitle %}
    Your start date for Carer’s Allowance 
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="../index">

                <h1 class="govuk-heading-l">Your start date for Carer’s Allowance</h1>

                {% set careStartDate = data['claim-date--care-start-day'] |isWithinThreeMonths(
                    data['claim-date--care-start-month'],
                    data['claim-date--qb-date-year']
                ) %}

                <p>Based on what you have told us your start date for Carer’s Allowance is 23 August 2020.</p>

                {{ govukRadios({
                    idPrefix: 'claim-date--use-auto',
                    name: 'claim-date--use-auto',
                    fieldset: {
                        legend: {
                            text: 'Do you want to use 23 August 2020 as the start date?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--m'
                        }
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes'
                        },
                        {
                            text: 'No, I will choose a date',
                            value: 'No~claim-date/claim-date-manual'
                        }
                    ]
                }) }}

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}