{% extends 'layout.html' %}

{% block pageTitle %}
    Your start date for Carer’s Allowance 
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                <h1 class="govuk-heading-l">Carer’s Allowance start date</h1>

                {% set careStartDate = data['claim-date--care-start-day'] |isWithinThreeMonths(
                    data['claim-date--care-start-month'],
                    data['claim-date--qb-date-year']
                ) %}

                <p>Based on what you have told us and information we hold about the benefit {{ data['dp--name'] | default(data['dummy-dp-name']) }} receives you may be able to claim Carer’s Allowance from 23 August 2020.</p>

                {{ govukRadios({
                    idPrefix: 'claim-date--use-auto',
                    name: 'claim-date--use-auto',
                    fieldset: {
                        legend: {
                            text: 'Do you want to use 23 August 2020 as the start date?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--m'
                        }
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes~../income/fostering'
                        },
                        {
                            text: 'No, I will choose a date',
                            value: 'No~claim-date-manual'
                        }
                    ]
                }) }}

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}