{% extends 'layout.html' %}

{% block pageTitle %}
Do you spend at least 35 hours a week caring for
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="35hours-date">

                {{ govukRadios({
                    idPrefix: 'caring-thirty-five-hours',
                    name: 'caring-thirty-five-hours',
                    fieldset: {
                        legend: {
                            text: 'Do you spend at least 35 hours a week caring for ' + data['dp-first-name'] +' '+ data['dp-last-name'] + '?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                            text: "This can be any care you provide in person, including helping with things like washing, cooking, household tasks, shopping, or travel."
                        },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes'
                        },
                        {
                            text: 'No',
                            value: 'No'
                        }

                    ]
                }) }}

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}
