{% extends 'layout.html' %}

{% block pageTitle %}
Are you age 16 or over?
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="qb">

                {{ govukRadios({
                    idPrefix: 'dp-partner',
                    name: 'dp-partner',
                    fieldset: {
                        legend: {
                            text: 'Is John Smith your partner?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        text: "By partner we mean.."
                    },

                    items: [
                        {
                            text: 'Yes',
                            value: 'yes'
                        },
                        {
                            text: 'No',
                            value: 'no'
                        }


                    ]
                }) }}

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}
