{% extends 'layout.html' %}

{% block pageTitle %}
    You might not be eligible for Carer’s Allowance
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                <h1 class="govuk-heading-l">You might not be eligible for Carer’s Allowance</h1>

                <p>Because of residency.</p>

            </form>

        </div>

</div>

{% endblock %}