{% extends 'layout.html' %}

{% block pageTitle %}
    Check your information
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="../dp/name">

                <h1 class="govuk-heading-l">Check your information</h1>

                {{ govukSummaryList ({
                    rows: [
                        {
                            key: {
                                text: 'Name'
                            },
                            value: {
                                text: data['dummy-applicant-name']
                            }
                        },
                        {
                            key: {
                                text: 'Date of birth'
                            },
                            value: {
                                text: '1 October 1971'
                            }
                        },
                        {
                            key: {
                                text: 'Address'
                            },
                            value: {
                                text: data.dummyAddresses[4].value
                            }
                        }
                    }
                }) }}

                {{ govukRadios ({
                    idPrefix: 'info--address-change',
                    name: 'info--address-change',
                    fieldset: {
                        legend: {
                            text: 'Has your address changed?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--m'
                        }
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes~../idv/postcode'
                        },
                        {
                            text: 'No',
                            value: 'No'
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}