{% extends 'layout.html' %}

{% block pageTitle %}
    Declaration
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="nationality1">

                <h1 class="govuk-heading-xl">We need to understand your eligibility</h1>

                <p>
                    We are going to ask you some questions to better understand your residence in the country.

                </p>

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}