{% extends 'layout.html' %}

{% block pageTitle %}
    When do you want Carer’s Allowance to start?
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post" action="employment">

             <h1 class="govuk-heading-xl">
                    What is your nationality?
             </h1>
                <div class="govuk-radios govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="nationality" name="nationality" type="radio" value="british">
                            <label class="govuk-label govuk-radios__label" for="nationality">
                            British
                            </label>
                            <div id="british-hint" class="govuk-hint govuk-radios__hint">select if you're from England, Scotland, Wales or Northern Ireland</div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="nationality-2" name="nationality" type="radio" value="irish">
                            <label class="govuk-label govuk-radios__label" for="nationality-2">
                            Irish
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="nationality-3" name="nationality" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="nationality-3">
                            Another nationality
                        </div>
                </div>
        <br>
        <div class="govuk-body">
            If you hold a permanent British passport, you're a Briish national. 
            If you're not sure whether you qualify, <a href="https://www.gov.uk/types-of-british-nationality">find out if you're a British national</a>
        </div>

          <details class="govuk-details govuk-!-margin-top-8" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                    I have dual citizenship
                    </span>
                </summary>
                    <div class="govuk-details__text">
                        If you have dual citizenship, select the nationality on the identity documents you're using to make this application.
                    </div>
        </details>
        
                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}