{% extends 'layout.html' %}

{% block pageTitle %}
    When do you want Carer’s Allowance to start?
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="../idv/login">

                {{ govukRadios({
                    idPrefix: 'siphoning--future-claim',
                    name: 'siphoning--future-claim',
                    fieldset: {
                        legend: {
                            text: 'When do you want Carer’s Allowance to start?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    items: [
                        {
                            text: 'Today or in the past',
                            value: 'Today or in the past',
                            checked: true if data['siphoning--future-claim'] == 'Yes'
                        },
                        {
                            text: 'A future date',
                            value: 'No~siphoning/legacy.html',
                            checked: true if data['siphoning--future-claim'] == 'A date in the future'
                        }
                    ],
                    hint: {
                        text: 'Your claim start date can be up to 3 months in the future, for example, when you have not started caring yet.'
                    }
                }) }}

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}