
{% extends "layout.html" %}

{% block pageTitle %}
  Prototype: Report a change to Carer's Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Carer's Allowance: report a change service 
        <span class="govuk-caption-xl">Prototype</span>
      </h1>
      <h2 class="govuk-heading-m">
       About this prototype

      </h2>

      <p>
        This is the change of circumstances prototype. There is a separate <a href="https://carers-allowance-apply.herokuapp.com/">prototype for the apply service</a>.
      </p>


      <h3 class="govuk-heading-m">Prototypes by ticket</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/ACA-180/index.html">Ticket ACA-180: 22 April to 5 May 2020</a>
        </li>
        <li>
          ACA...
        </li>
        <li>
          ACA...
        </li>

      </ul>
    </div>
</div>

{% endblock %}
