{% set resetServiceName = true %}

{% extends "layout.html" %}

{% block pageTitle %}
  Carer's Allowance Prototypes
{% endblock %}

{% block header %}

  <div class="prototype-remove-blue-border-from-header">

    {{ super() }}

    <div class="prototype-home-top">

      <div class="govuk-width-container">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Carer’s Allowance</h1>

            <h1 class="govuk-heading-l govuk-!-font-weight-regular  govuk-!-margin-bottom-2">Prototypes</h1>

          </div>

        </div>
      
      </div>

    </div>
  
  </div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      <h2 class="govuk-heading-m">
        <a href="apply/index.html" class="govuk-link--no-visited-state">
          Apply for Carer’s Allowance
        </a>
      </h2>
      <p>Service to accept applications for new Carer’s Allowance claims.</p>

      <h2 class="govuk-heading-m">
        <a href="changes/index.html" class="govuk-link--no-visited-state">
          Report a change to Carer’s Allowance
        </a>
      </h2>
      <p>Service to make changes to existing Carer’s Allowance claims.</p>

      <h2 class="govuk-heading-m">
        <a href="poc/index.html" class="govuk-link--no-visited-state">
          Pathfinder
        </a>
      </h2>
      <p>'Greenfield' project to explore possibilities for future workflows and integrations.</p>

    </div>
  </div>

{% endblock %}
