{% extends 'layout.html' %}

{% set breakIndex = data['selectedBreak'] | uuid %}
{% set breakLoc = 'breaksStore[' + breakIndex + ']' %}
{% set break = data.breaksStore[breakIndex] %}

{% block pageTitle %}
    Confirm you want to remove this
{% endblock %}

{% block beforeContent %} 

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">    

                <h1 class="govuk-heading-l">Confirm you want to remove this</h1>

                <table class="govuk-table">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Stop date</th>
                        <td class="govuk-table__cell">pull through</td>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Start date</th>
                        <td class="govuk-table__cell">pull through</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Medical care</th>
                        <td class="govuk-table__cell">pull through</td>
                      </tr>
                     
                    </tbody>
                  </table>

                  <a class="govuk-button govuk-button--warning" href="list">
                    Remove
                  </a>

                <p>
                    <a href="list">Cancel and go back</a>
                </p>

            </form>

        </div>

</div>

{% endblock %}