{% extends 'layout.html' %}

{% block pageTitle %}
You may be eligible for Carer’s Allowance
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="partner-details">

   
                <p class="govuk-fieldset__legend--l">Weeks you did not provide care</p>
                <p>You told us that the break in care was from Wednesday 5 January 2022 to Sunday 23 January 2022. From these dates, we have identified that you did not provide care for the following full weeks:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>Sunday 9 January 2022 to Saturday 15 January 2022</li>
                    <li>Sunday 16 January 2022 to Saturday 22 January 2022</li>
                </ul>
            <br>
                    {{ govukCheckboxes({
                    
                    fieldset: {
                        legend: {
                        text: "Which of the following weeks did you still provide 35 hours of care? Select all that If you did not provide 35 hours of care in any of these weeks, do not select any.",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--m"
                        }
                    },
                    items: [
                        {
                        value: "2",
                        text: "Sunday 2 January 2022 to Saturday 8 January 2022"
                        },
                        {
                        value: "23",
                        text: "Sunday 23 January 2022 to Saturday 29 January 2022"
                        }
                    ]
                    }) }}

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}