{% extends 'layout.html' %}

{% block pageTitle %}
You may be eligible for Carer’s Allowance
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="partner-details">

   
                <p class="govuk-fieldset__legend--l">Weeks you did not provide care</p>
                <p>You told us that the break in care was from Wednesday 5 January 2022 to Sunday 23 January 2022. As the start and end of this break falls part way through a caring week (Sunday to Saturday), we need to know if you still provided 35 hours of care in those weeks.</p>

            <br>
                    {{ govukCheckboxes({
                    
                    fieldset: {
                        legend: {
                        text: "Which weeks did you still provide 35 hours of care?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--m"
                        }
                    },
                    items: [
                        {
                        value: "2",
                        text: "Sunday 2 January 2022 to Saturday 8 January 2022"
                        },
                        {
                        value: "23",
                        text: "Sunday 23 January 2022 to Saturday 29 January 2022"
                        },
                         {
                        value: "none",
                        text: "I did not provide 35 hours of care in these weeks"
                        }
                    ]
                    }) }}

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}