{% extends 'layout.html' %}

{% block pageTitle %}
    Page title
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                {{ govukRadios ({
                    idPrefix: 'been-self-employed',
                    name: 'been-self-employed',
                    fieldset: {
                        legend: {
                            html: 'Have you been self-employed <span style="white-space:nowrap">since 24 September 2020</span>?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes~dates',
                            checked: true if data['been-self-employed'] == 'Yes'
                        },
                        {
                            text: 'No',
                            value: 'No~../fostering-allowance/any',
                            checked: true if data['been-self-employed'] == 'No'
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}