{% extends "layout.html" %}

{% block pageTitle %}
Why do you need to end your claim? – Report a change to Carer's Allowance – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="type-of-change">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/form-handler" method="post" novalidate>
      <div class="govuk-form-group">
        {# <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Why do you need to end your claim?
            </h1>
          </legend>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="end-claim-reason" name="end-claim-reason" type="radio" value="dp-died~/ACA-180/person-you-care-for-has-died">
              <label class="govuk-label govuk-radios__label" for="end-claim-reason">
                The person I care for has died
              </label>
            </div>
            
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="end-claim-reason-2" name="end-claim-reason" type="radio" value="stopped-providing-care~/ACA-180/about-you">
                <label class="govuk-label govuk-radios__label" for="end-claim-reason-2">
                  I have permanently stopped providing care for 35 hours a week or more
                </label>
              </div>

              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="end-claim-reason-3" name="end-claim-reason" type="radio" value="someone-else-claiming~/ACA-180/about-you">
                  <label class="govuk-label govuk-radios__label" for="end-claim-reason-3">
                    Someone else who cares for the same person is claiming the allowance instead
                  </label>
                </div>

                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="end-claim-reason-4" name="end-claim-reason" type="radio" value="do-not-want-ca-anymore~/ACA-180/about-you">
                    <label class="govuk-label govuk-radios__label" for="end-claim-reason-4">
                      I do not want to claim anymore
                    </label>
                  </div>


            
          </div>

        </fieldset> #}
    

        {{ govukRadios ({
          idPrefix: 'end-claim-reason',
          name: 'end-claim-reason',
          fieldset: {
            legend: {
              text: 'Why do you need to end your claim?',
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--l'
            }
          },
          items: [
            {
              text: 'The person I care for has died',
              value: 'dp-died~/changes/ACA-180/person-you-care-for-has-died',
              conditional:{
                text:'This is a test'
              }
            },
            {
              text: 'I have permanently stopped providing care for 35 hours a week or more',
              value: 'stopped-providing-care~/changes/ACA-180/about-you'
            },
            {
              text: 'Someone else who cares for the same person is claiming the allowance instead',
              value: 'someone-else-claiming~/changes/ACA-180/about-you'
            },
            {
              text: 'I do not want to claim anymore',
              value: 'do-not-want-ca-anymore~/changes/ACA-180/about-you'
            }
          ]
        }) }}


      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
    </div>
  </div>

{% endblock %}
