{% extends 'layout.html' %}

{% block pageTitle %}
    Have you been employed since 1 April 2020?
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                {{ govukRadios ({
                    idPrefix: 'been-employed',
                    name: 'been-employed',
                    fieldset: {
                        legend: {
                            html: 'Have you been employed since <span style="white-space: nowrap;">1 April 2020</span>?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes~name?selectedJob=',
                            checked: true if data['been-employed'] == 'Yes'
                        },x

                        {
                            text: 'No',
                            value: 'No~../self-employment/any',
                            checked: true if data['been-employed'] == 'No'
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}