{% extends 'layout.html' %}

{% block pageTitle %}
    What is the date of birth of person you care for?
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            {% if data['from-check'] != 'true' %}
                <form action="same-address">
            {% else %}
                <form action="../checkpoint/cya">
            {% endif %}

                {{ govukDateInput({
                    id: 'dp--dob',
                    namePrefix: 'dp--dob',
                    hint: {
                        text: 'For example, 5 8 1980'
                    },
                    fieldset: {
                        legend: {
                            text: 'What is ' + ( data['dp--name'] | default('the person you care for') ) + '’s date of birth?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    items: [
                        {
                            name: 'day',
                            classes: 'govuk-input--width-2',
                            value: data['dp--dob-day']
                        },
                        {
                            name: 'month',
                            classes: 'govuk-input--width-2',
                            value: data['dp--dob-month']
                        },
                        {
                            name: 'year',
                            classes: 'govuk-input--width-4',
                            value: data['dp--dob-year']
                        }
                    ]
                }) }}

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}