{% extends "layout.html" %}

{% block pageTitle %}
  About you
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="type-of-change">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Report a change in your circumstances</h1>
      
<form action="/form-handler" method="post" novalidate></form>  
     
      
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Your details</legend>
      <p class="govuk-body">So we can identify who you are, confirm the following details.</p>
      
      
      

    <div class="govuk-form-group">
      <label class="govuk-label govuk-!-font-weight-bold" for="first-name">
        First name
      </label>

      <input class="govuk-input govuk-input--width-20" id="first-name" name="first-name" type="text" aria-describedby="first-name-hint">
    </div>   
    

    <div class="govuk-form-group">
      <label class="govuk-label govuk-!-font-weight-bold" for="last-name">
        Last name
      </label>

      <input class="govuk-input govuk-input--width-20" id="last-name" name="last-name" type="text" aria-describedby="clast-name-hint">
    </div>  
    


    <div class="govuk-form-group">
      <label class="govuk-label govuk-!-font-weight-bold" for="nino">
        National Insurance number
      </label>

      <span id="nino-hint" class="govuk-hint">
        For example, QQ123456C
      </span>

      <input class="govuk-input govuk-input--width-20" id="contact-number" name="contact-number" type="text" aria-describedby="contact-number-hint">
    
      <span id="nino-hint2" class="govuk-hint">This is on your NI number card, benefit letter, payslip or P60.</span>
    </div>  
  
    
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
        <legend class="govuk-label govuk-!-font-weight-bold">
          
            Date of birth
        
        </legend>
        <span id="dob-hint" class="govuk-hint">
          For example, 18 5 1980
        </span>
        <div class="govuk-date-input" id="dob">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="dob-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="dob-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="dob-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  
    </fieldset>
  

    <div>
    <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Contact details</legend>
      




    <div class="govuk-form-group">
      <label class="govuk-label govuk-!-font-weight-bold" for="contact-number">
        Contact number
      </label>
     
      <input class="govuk-input govuk-input--width-20" id="contact-number" name="contact-number" type="text" aria-describedby="contact-number-hint">
    </div>


    <! –– Email conditional radio input fields to add ––>



    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="email-hint">
        <legend class="govuk-label govuk-!-font-weight-bold">
          
          Do you want an email to confirm your change has been received?
        
        </legend>
   
        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="email-yes" name="email-bool" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="email-yes">
              Yes
            </label>

          </div>

          
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="email-no" name="email-bool" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="email-no">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>

  
    
    
    
  
      </div>
    </fieldset>
    <div>
      <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Person you provide care for</legend>
      
    
    
        
    <div class="govuk-form-group">
      <label class="govuk-label govuk-!-font-weight-bold" for="dp-first-name">
        Their first name
      </label>
     
      <input class="govuk-input govuk-input--width-20" id="dp-first-name" name="dp-first-name" type="text" aria-describedby="dp-first-name-hint">
    </div>

      
    <div class="govuk-form-group">
      <label class="govuk-label govuk-!-font-weight-bold" for="dp-last-name">
        Their last name
      </label>
     
      <input class="govuk-input govuk-input--width-20" id="dp-last-name" name="dp-last-name" type="text" aria-describedby="dp-last-name-hint">
    </div>


  
    <div class="govuk-form-group">
      <label class="govuk-label govuk-!-font-weight-bold" for="relationship">
        Their relationship to you
      </label>
     
      <span id="relationship-hint" class="govuk-hint">
        For example, father, daughter, neighbour, friend.
      </span>

      <input class="govuk-input govuk-input--width-20" id="relationship" name="relationship" type="text" aria-describedby="relationship-hint">
    </div>   
    

 
  
    </fieldset>
  
    
  

    <a href="end-claim-date"<button  class="govuk-button" data-module="govuk-button">
    Continue
  </button></a>

</form>
</div>


{% endblock %}
