{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page: GB docs needed – backlog cases
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Your change has been sent</h1>
        <div class="govuk-panel__body">
          Your reference number is your National Insurance number
        </div>
      </div>

      <p>We have sent you a confirmation email.</p>

      <h2 class="govuk-heading-m">What happens next</h2>
      
      <p>We have received your change. You need to send us some documents to support this.</p>

      <div class="govuk-inset-text">
        It could take longer than normal to process this change because of COVID-19 (coronavirus). If this delay means you are paid too much Carer’s Allowance, you will not have to pay it back. 
      </div>

      <div class="app-group-border-box">
      
      <h3 class="govuk-heading-s">Documents you need to send</h3>
        <p>You must send the Carer's Allowance Unit:</p>

        <ul class="govuk-body">

        <li>any payslips you have</li>
        <li>copies of your pension statements</li>
       
        </ul>

        <p>You can send original documents or photocopies.</p>

        <p>Include your name, address and National Insurance number with anything you send.</p>

        <p>Send your documents to:</p>

        <p>Carer’s Allowance Unit<br>
          Mail Handling Site A <br>
          Wolverhampton <br>
          WV98 2AB
        </p>

        
      </div>
      
      <p>If we need more information about this change, we will contact you by phone or post.</p>

      <p>You do not have to do anything else, unless you need to <a href="https://www.gov.uk/carers-allowance-report-change">report a different change</a>.</p>

      <p><a href="https://www.gov.uk/done/report-changes-carers-allowance">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

{% endblock %}
