
{% extends "layout.html" %}

{% block pageTitle %}
  ACA-178
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        ACA-178
      </h1>
      
      
     

      <h2 class="govuk-heading-m">Prototypes for this ticket</h2>

      <h3 class="govuk-heading-s">Confirmation pages</h3>

    

     <p class="govuk-body">Individual pages:</p>
     
      <ul class="govuk-list govuk-list--bullet">

        <li>
          <a href="confirmation-no-docs.html">confirmation page – no docs – backlog cases</a> new section on delay and improved content
        </li>

         <li>
          <a href="confirmation-no-docs-priority.html">confirmation page – no docs – priority cases (bank or address change journey)</a> improved content
        </li>
        
        <li>
          <a href="confirmation-docs.html">confirmation page – docs needed – backlog cases</a> new section on delay and improved content
        </li>

        <li>
          <a href="confirmation-docs-priority.html">confirmation page – docs needed – priority cases</a> improved content
        </li>

      </ul>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Description of confirmation page changes
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">

                       
            <li>
              green panel content updated from changes to change (as journey only allows one change type at a time) 
            </li>

            <li>
              email confirmation content updated and moved (to match design system)
            </li>

             <li>
              content added to body to confirm we have received the change
            </li>

             <li>
              content on sending another change updated to be clearer 
            </li>

             <li>
              basic reassurance content change for backlog cases
            </li>

              <li>
              bank and address page journeys do not have reassurance message around change taking longer to process
            </li>             

            <li>
              box added to documents needed section to match apply journey format 
            </li>
            
          </ul>
        </div>
      </details>

      <h3 class="govuk-heading-s">Emails</h3>

      <p class="govuk-body">Current emails:</p>
     
      <ul class="govuk-list govuk-list--bullet">

        <li>
          <a href="/changes/ACA-178/emails/gb-no-docs-current.html">GB – no docs (current)</a>
        </li>

        <li>
          <a href="/changes/ACA-178/emails/gb-no-docs-break-in-care-current.html">GB – no docs – break in care (current)</a>
        </li>

         <li>
          <a href="/changes/ACA-178/emails/gb-docs-current.html">GB – docs needed (current)</a> 
        </li>
        
        <li>
          <a href="/changes/ACA-178/emails/ni-no-docs-current.html">NI – no docs (current)</a>
        </li>

        <li>
          <a href="/changes/ACA-178/emails/ni-no-docs-break-in-care-current.html">NI – no docs – break in care (current)</a>
        </li>

        <li>
          <a href="/changes/ACA-178/emails/ni-docs-current.html">NI – docs needed (current)</a> 
        </li>

      </ul>

      <p class="govuk-body">Updated emails for UR:</p>
     
      <ul class="govuk-list govuk-list--bullet">

        <li>
          <a href="/changes/ACA-178/emails/gb-no-docs.html">GB – no docs</a>
        </li>

        <li>
          <a href="/changes/ACA-178/emails/gb-no-docs-break-in-care.html">GB – no docs – break in care</a>
        </li>

         <li>
          <a href="/changes/ACA-178/emails/gb-docs.html">GB – docs needed</a> 
        </li>
        
        <li>
          <a href="/changes/ACA-178/emails/ni-no-docs.html">NI – no docs</a>
        </li>

        <li>
          <a href="/changes/ACA-178/emails/ni-no-docs-break-in-care.html">NI – no docs – break in care</a>
        </li>

        <li>
          <a href="/changes/ACA-178/emails/ni-docs.html">NI – docs needed</a> 
        </li>

      </ul>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Description of email changes
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">

             <li>
              content on sending another change updated to be clearer 
            </li>

             <li>
              basic reassurance content change for backlog cases
            </li>      
    
          </ul>
        </div>
      </details>



    </div>
</div>

{% endblock %}
