{% extends 'layout.html' %}

{% set breakIndex = data['selectedBreak'] | uuid %}
{% set breakLoc = 'breaksStore[' + breakIndex + ']' %}
{% set break = data.breaksStore[breakIndex] %}

{% block pageTitle %}
    Confirm you want to remove this
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                <h1 class="govuk-heading-l">Confirm you want to remove this</h1>

                {% if break.reason == 'applicant-hospital' %}
                    {% set reasonText = 'I was in hospital' %}
                {% elseif break.reason == 'dp-hospital' %}
                    {% set reasonText = data['dp--name'] | default('the person you care for') + ' was in hospital' %}
                {% elseif break.reason == 'applicant-respite' %}
                    {% set reasonText = 'I was in respite or a care home' %}
                {% elseif break.reason == 'dp-respite' %}
                    {% set reasonText = data['dp--name'] | default('the person you care for') + ' was in respite or a care home' %}
                {% elseif break.reason == 'applicant-holiday' %}
                    {% set reasonText = 'I was on holiday' %}
                {% elseif break.reason == 'dp-holiday' %}
                    {% set reasonText = data['dp--name'] | default('the person you care for') + ' was on holiday' %}
                {% else %}
                    {% set reasonText = 'Other' %}
                {% endif %}

                {{ govukSummaryList ({
                    classes: 'govuk-!-margin-bottom-8',
                    rows: [
                        {
                            key: {
                                text: 'Reason'
                            },
                            value: {
                                text: reasonText
                            }
                        },
                        {
                            key: {
                                text: 'Start date'
                            },
                            value: {
                                text: break['start-date-day'] + ' ' + 
                                break['start-date-month'] | month + ' ' + 
                                break['start-date-year']
                            }
                        },
                        {
                            key: {
                                text: 'End date'
                            },
                            value: {
                                text: (break['end-date-day'] + ' ' + 
                                break['end-date-month'] | month + ' ' + 
                                break['end-date-year']) if break['did-end'] == 'Yes' else 'Ongoing'
                            }
                        },
                        {
                            key: {
                                text: 'Received care from medical professional'
                            },
                            value: {
                                text: ''
                            }
                        } if break.reason == 'applicant-respite' or break.reason == 'dp-respite'
                    }
                }) }}

                {{ govukButton ({
                    html: 'Remove',
                    classes: 'govuk-button--warning',
                    href: 'list?' + breakLoc + '='
                }) }}

                <p>
                    <a href="list">Cancel and go back</a>
                </p>

            </form>

        </div>

</div>

{% endblock %}