{% extends 'layout.html' %}

{% block pageTitle %}
    Do you earn more than £128 a week on average?
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="../dp/name">

                {% set hintHTML %}

                    <p>
                        <a href="https://www.gov.uk/carers-allowance/eligibility#calculating-your-earnings" target="_blank">
                            Get help working out your earnings (opens in new tab)
                        </a>
                    </p>

                {% endset %}

                {{ govukRadios ({
                    idPrefix: 'employment--earnings-limit',
                    name: 'employment--earnings-limit',
                    fieldset: {
                        legend: {
                            text: 'Do you earn more than £128 a week on average?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        html: hintHTML
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes~eligibility/earnings-limit-non-elig'
                        },
                        {
                            text: 'No',
                            value: 'No'
                        }
                    ]
                }) }}

                

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}