{% extends 'layout.html' %}

{% block pageTitle %}
    What benefit does the person you provide care for get?
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="35-hours">

                {{ govukRadios({
                    idPrefix: 'elig--qb',
                    name: 'elig--qb',
                    fieldset: {
                        legend: {
                            text: 'What benefit does the person you provide care for get?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        text: 'Don’t include any benefits they’ve applied for if they haven’t got a decision yet.'
                    },
                    items: [
                        {
                            text: 'Personal Independence Payment (PIP) daily living component',
                            value: 'Personal Independence Payment (PIP) daily living component',
                            checked: true if data['elig--qb'] == 'Personal Independence Payment (PIP) daily living component'
                        },
                        {
                            text: 'Disability Living Allowance (DLA) - middle or highest care rate',
                            value: 'Disability Living Allowance (DLA) - middle or highest care rate',
                            checked: true if data['elig--qb'] == 'Disability Living Allowance (DLA) - middle or highest care rate'
                        },
                        {
                            text: 'Attendance Allowance (AA)',
                            value: 'Attendance Allowance (AA)',
                            checked: true if data['elig--qb'] == 'Attendance Allowance (AA)'
                        },
                        {
                            text: 'Constant Attendance Allowance (CAA)',
                            value: 'Constant Attendance Allowance (CAA)',
                            checked: true if data['elig--qb'] == 'Constant Attendance Allowance (CAA)'
                        },
                        {
                            text: 'Armed Forces Independence Payment (AFIP)',
                            value: 'Armed Forces Independence Payment (AFIP)',
                            checked: true if data['elig--qb'] == 'Armed Forces Independence Payment (AFIP)'
                        },
                        {
                            text: 'A disability benefit paid by a country in the EU',
                            value: 'a disability benefit paid by a country in the EU',
                            checked: true if data['elig--qb'] == 'a disability benefit paid by a country in the EU'
                        },
                        {
                            text: 'None of these benefits',
                            value: 'None of these benefits~qb-non-elig',
                            checked: true if data['elig--qb'] == 'None of these benefits'
                        }
                    ]
                }) }}

                {{ govukButton({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}